In [1]:
import pandas as pd
import numpy as np

In [2]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')

In [3]:
used_car_copy = used_car.copy()
used_car_copy['Make'] = used_car_copy['Make'].str.upper()
used_car_copy['Model'] = used_car_copy['Model'].str.upper()

In [5]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [6]:
used_car_copy['Original Price'] = 0

In [7]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [8]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [9]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [10]:
used_car_copy=used_car_copy.dropna()

In [11]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
#gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [12]:
#Select car in top Ten most popular cities rank by sales

#Houston = used_car_copy[used_car_copy['City'].str.contains('Houston')]
#San_Antonio = used_car_copy[used_car_copy['City'].str.contains('San Antonio')]    
#Louisville = used_car_copy[used_car_copy['City'].str.contains('Louisville')] 
#Jacksonville = used_car_copy[used_car_copy['City'].str.contains('Jacksonville')] 
#Austin = used_car_copy[used_car_copy['City'].str.contains('Austin')]                          
#Columbia = used_car_copy[used_car_copy['City'].str.contains('Columbia')]                  
#Raleigh = used_car_copy[used_car_copy['City'].str.contains('Raleigh')]                             
#Orlando = used_car_copy[used_car_copy['City'].str.contains('Orlando')]   
#Colorado = used_car_copy[used_car_copy['City'].str.contains('Colorado')]       
#Philadelphia = used_car_copy[used_car_copy['City'].str.contains('Philadelphia')]    
#San_Francisco = used_car_copy[used_car_copy['City'].str.contains('San Francisco')]    


#Houston.drop(Houston.columns[0],axis=1,inplace=True)
#San_Antonio.drop(San_Antonio.columns[0],axis=1,inplace=True)
#Louisville.drop(Louisville.columns[0],axis=1,inplace=True)
#Jacksonville.drop(Jacksonville.columns[0],axis=1,inplace=True)
#Austin.drop(Austin.columns[0],axis=1,inplace=True)
#Columbia.drop(Columbia.columns[0],axis=1,inplace=True)
#Raleigh.drop(Raleigh.columns[0],axis=1,inplace=True)
#Orlando.drop(Orlando.columns[0],axis=1,inplace=True)
#Colorado.drop(Colorado.columns[0],axis=1,inplace=True)
#Philadelphia.drop(Philadelphia.columns[0],axis=1,inplace=True)
#San_Francisco.drop(San_Francisco.columns[0],axis=1,inplace=True)
#Top_cities = pd.concat([Houston, San_Antonio, Louisville, Jacksonville, Austin, Columbia, Raleigh, Orlando, Colorado, Philadelphia, San_Francisco])

    
#CAUsedCar = used_car_copy[used_car_copy['State'].str.contains('CA')]

#WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

In [13]:
#remove cars are not made in the year of 2001 to 2017
#CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

#Top_cities = Top_cities[(Top_cities['Year'] >2000) & (Top_cities['Year'] <2018)]

In [14]:
#add a column of service time 
car = used_car_copy
car['serviceTime'] = 2018 - car['Year']
#get depreciationRate and then drop price and original price
car['DepreciationRate'] = car['Price']/car['Original Price']
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

In [15]:
#CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.DepreciationRate > 1.0].index)
car = car.drop(car[car.DepreciationRate > 1.0].index)

In [16]:
car['Gdp'] = 0
car['City'] = car['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,aCar in car.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(aCar['City']))]
    #col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp['2017'].values.tolist()
    if len(Gdp) > 0:
        aCar['Gdp'] = Gdp[0]
        car.at[index,'Gdp'] = float(Gdp[0])

In [17]:
#used_car_copy.groupby(['City']).size().sort_values(ascending=False)

In [18]:
population = pd.read_csv('cleanData/populationClean.csv')

In [19]:
population = population[['NAME','POPESTIMATE2017']]
population['NAME'] = population['NAME'].str.upper()
population = population.rename(columns={'POPESTIMATE2017': 'Population'})
#population['Population'] = population['Population'].astype(str)
#population['Population'] = population['Population'].replace(',', '') 
#for index, pop in population.iterrows():
 #   pop['Population'] = pop['Population'].replace(',', '')
  #  population['Population'][index] = int(float(pop['Population']))

In [22]:
finalData = pd.merge(car, population, left_on='City', right_on='NAME').drop('NAME', axis = 1)
finalData = finalData.drop('Original Price', axis=1).drop('Price', axis=1).drop('Make', axis=1).drop('Model', axis=1)
finalData = finalData.dropna()
finalData = finalData[finalData['Gdp']>0]
finalData = finalData.sample(frac=0.01)
finalData

,Unnamed: 0,Year,Mileage,City,State,Vehicle Type,serviceTime,DepreciationRate,Gdp,Population
53915,249159,2011,52080,MADISON,TN,Sedan,7,0.421956,49853,1417
103018,354836,2016,38893,JACKSONVILLE,FL,SUV,2,0.560101,3937,14910
124257,6392,2015,20103,MIAMI,FL,SUV,3,0.861051,344881,13212
108412,186363,2010,48885,CONWAY,AR,SUV,8,0.364226,38874,23714
22946,235911,2013,42177,RICHMOND,VA,SUV,5,0.483548,24395,12064
35147,110724,2012,35497,LANCASTER,OH,Truck,6,0.678010,28937,331
5256,241094,2015,9109,COLUMBIA,SC,Truck,3,0.942408,192177,2031
3270,93665,2014,64947,COLUMBIA,KY,Truck,4,0.858639,192177,4881
152599,325283,2014,42092,COLUMBUS,OH,Truck,4,0.832435,13820,4065
167470,139840,2010,92503,KNOXVILLE,TN,SUV,8,0.328423,41459,7181
5123,232676,2012,86377,COLUMBIA,SC,SUV,6,0.380484,192177,9044
36681,122139,2012,48257,WILMINGTON,OH,Truck,6,0.523325,444975,119045
193948,27354,2015,29484,READING,PA,Sedan,3,0.619289,18679,10260
196990,19128,2009,85813,AURORA,CO,SUV,9,0.438239,208868,3703
8484,8208,2011,70557,LINCOLN,NE,SUV,7,0.923516,20245,284736
11612,144839,2014,43931,ROCHESTER,MN,Sedan,4,0.408905,12567,208046
217934,65677,2004,117035,VERNON,CT,Sedan,14,0.218238,6643,113
47122,116266,2017,22,PHOENIX,AZ,Sedan,1,0.852639,242950,1626078
168795,33128,2014,8073,ALEXANDRIA,VA,SUV,4,0.928853,5991,5015
60545,148710,2014,33774,DECATUR,IL,Truck,4,0.922265,5466,23832
128578,35673,2015,9982,FARMINGTON,NM,Sedan,3,0.534770,6360,23067
197078,20185,2012,132524,AURORA,CO,Truck,6,0.617539,208868,7481
31059,37590,2014,41322,FRANKLIN,TN,SUV,4,0.976337,133251,6137
122051,284600,2013,120085,GREENVILLE,TX,Truck,5,0.603047,8216,7632
42792,301818,2009,125483,AUSTIN,TX,Truck,9,0.494764,148750,3282
94692,215192,2014,38170,SAN ANTONIO,TX,Sedan,4,0.424512,129298,1511946
4252,166744,2011,83604,COLUMBIA,CT,SUV,7,0.418490,192177,141
225137,360543,2014,45122,HENDERSON,NV,Sedan,4,0.489306,112288,13300
64616,137916,2017,1789,AUBURN,AL,Sedan,1,0.597640,5484,4710
88962,115765,2014,51642,TUCSON,AZ,Sedan,4,0.424764,39033,535677
...,...,...,...,...,...,...,...,...,...,...
189447,336164,2004,139751,LEXINGTON,KY,Truck,14,0.250641,6455,7106
3794,142431,2014,33211,COLUMBIA,SC,SUV,4,0.600570,192177,6037
110689,186524,2013,26737,PORTLAND,TX,Truck,5,0.628141,32143,12697
709,163938,2016,13972,MARION,AR,Truck,2,0.915042,5287,12440
32143,136557,2014,60035,FRANKLIN,IN,SUV,4,0.946364,133251,95
25877,26780,2006,83483,DALLAS,TX,Sedan,12,0.203878,535499,888
96947,116614,2015,38278,DENTON,TX,Truck,3,0.889450,31196,136268
176994,8265,2014,82532,NEWTON,MA,SUV,4,0.544250,438683,2387
18879,32905,2014,28453,LAFAYETTE,IN,Sedan,4,0.460204,22113,161
117858,205706,2014,42080,FOND DU LAC,WI,Truck,4,0.628246,5052,42809
35939,293527,2017,12,LANCASTER,PA,Sedan,1,0.966556,28937,59708
62025,277072,2008,83450,INDIANAPOLIS,IN,SUV,10,0.356492,143873,872680
31832,93204,2015,62615,FRANKLIN,TN,SUV,3,0.515968,133251,471
170078,313731,2014,22134,ALEXANDRIA,VA,Sedan,4,0.666000,5991,9438
74744,126047,2015,26628,LOUISVILLE,KY,Sedan,3,0.464128,76063,21128
184581,19755,2013,87589,ELGIN,IL,Truck,5,0.573298,679699,3123
34314,354037,2015,3276,FRANKLIN,TN,Sedan,3,0.703061,133251,6137
210336,255830,2015,3531,HARRISBURG,PA,Sedan,3,0.727994,37181,3797
199138,318207,2013,84831,AURORA,CO,Truck,5,0.667251,208868,15982
199715,169477,2015,26125,ROSEVILLE,CA,Sedan,3,0.633156,126352,135329
79329,39091,2015,26856,HOUSTON,TX,Sedan,3,0.764470,490074,2090
43176,346307,2017,6889,AUSTIN,TX,Sedan,1,0.807667,148750,24933
108617,280024,2015,28651,CONWAY,AR,Sedan,3,0.597829,38874,65782
50548,24309,2014,41641,MADISON,GA,Truck,4,0.469398,49853,1417
151132,262964,2016,46855,COLUMBUS,OH,Sedan,2,0.427974,13820,157
156993,64936,2014,38920,SALEM,OR,Sedan,4,0.581616,17332,7173
188035,112608,2014,37235,LEXINGTON,NC,Sedan,4,0.647543,6455,4555
148330,122259,2015,52526,COLUMBUS,WI,SUV,3,0.542548,13820,3653
38029,70844,2015,36400,ARLINGTON,TX,Truck,3,0.913613,535499,2153
94900,301560,2014,23491,SAN ANTONIO,TX,Sedan,4,0.599711,129298,1409

In [24]:
finalData = finalData.reset_index(drop = True)
finalData.to_csv('finalData.csv')

ValueError: Unable to parse string "2,340,814" at position 0