In [1]:
import pandas as pd
import numpy as np

In [3]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')

In [4]:
used_car_copy = used_car.copy()
used_car_copy['Make'] = used_car_copy['Make'].str.upper()
used_car_copy['Model'] = used_car_copy['Model'].str.upper()

In [5]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [6]:
used_car_copy['Original Price'] = 0

In [7]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [8]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [9]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [10]:
used_car_copy=used_car_copy.dropna()

In [11]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
#gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [12]:
#Select car in top Ten most popular cities rank by sales

#Houston = used_car_copy[used_car_copy['City'].str.contains('Houston')]
#San_Antonio = used_car_copy[used_car_copy['City'].str.contains('San Antonio')]    
#Louisville = used_car_copy[used_car_copy['City'].str.contains('Louisville')] 
#Jacksonville = used_car_copy[used_car_copy['City'].str.contains('Jacksonville')] 
#Austin = used_car_copy[used_car_copy['City'].str.contains('Austin')]                          
#Columbia = used_car_copy[used_car_copy['City'].str.contains('Columbia')]                  
#Raleigh = used_car_copy[used_car_copy['City'].str.contains('Raleigh')]                             
#Orlando = used_car_copy[used_car_copy['City'].str.contains('Orlando')]   
#Colorado = used_car_copy[used_car_copy['City'].str.contains('Colorado')]       
#Philadelphia = used_car_copy[used_car_copy['City'].str.contains('Philadelphia')]    
#San_Francisco = used_car_copy[used_car_copy['City'].str.contains('San Francisco')]    


#Houston.drop(Houston.columns[0],axis=1,inplace=True)
#San_Antonio.drop(San_Antonio.columns[0],axis=1,inplace=True)
#Louisville.drop(Louisville.columns[0],axis=1,inplace=True)
#Jacksonville.drop(Jacksonville.columns[0],axis=1,inplace=True)
#Austin.drop(Austin.columns[0],axis=1,inplace=True)
#Columbia.drop(Columbia.columns[0],axis=1,inplace=True)
#Raleigh.drop(Raleigh.columns[0],axis=1,inplace=True)
#Orlando.drop(Orlando.columns[0],axis=1,inplace=True)
#Colorado.drop(Colorado.columns[0],axis=1,inplace=True)
#Philadelphia.drop(Philadelphia.columns[0],axis=1,inplace=True)
#San_Francisco.drop(San_Francisco.columns[0],axis=1,inplace=True)
#Top_cities = pd.concat([Houston, San_Antonio, Louisville, Jacksonville, Austin, Columbia, Raleigh, Orlando, Colorado, Philadelphia, San_Francisco])

    
#CAUsedCar = used_car_copy[used_car_copy['State'].str.contains('CA')]

#WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

In [13]:
#remove cars are not made in the year of 2001 to 2017
#CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

#Top_cities = Top_cities[(Top_cities['Year'] >2000) & (Top_cities['Year'] <2018)]

In [14]:
#add a column of service time 
Top_cities = used_car_copy
Top_cities['serviceTime'] = 2018 - Top_cities['Year']
#get depreciationRate and then drop price and original price
Top_cities['DepreciationRate'] = Top_cities['Price']/Top_cities['Original Price']
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

In [15]:
#CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.DepreciationRate > 1.0].index)
Top_cities = Top_cities.drop(Top_cities[Top_cities.DepreciationRate > 1.0].index)

In [16]:
Top_cities['Gdp'] = 0
Top_cities['City'] = Top_cities['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,car in Top_cities.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
    #col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp['2017'].values.tolist()
    if len(Gdp) > 0:
        car['Gdp'] = Gdp[0]
        Top_cities.at[index,'Gdp'] = float(Gdp[0])

In [17]:
used_car_copy.groupby(['City']).size().sort_values(ascending=False)

City
Houston               779
San Antonio           412
Louisville            377
Jacksonville          338
Austin                337
Columbia              337
Raleigh               301
Orlando               299
Colorado Springs      287
Philadelphia          273
Puyallup              265
Dallas                263
Columbus              245
Phoenix               231
Las Vegas             226
Charlotte             221
Miami                 218
Concord               204
Tampa                 200
Indianapolis          200
Madison               191
Fort Worth            181
El Paso               175
Oklahoma City         171
Albuquerque           170
Richmond              169
Tucson                167
Marietta              164
Arlington             157
Springfield           155
                     ...
Lemont                  1
Tamarac                 1
Country Club Hills      1
Lehi                    1
St Petersburg           1
McLean                  1
Mt. Kisco               1
Spicewood               1
Secaucus                1
Seguin                  1
Seminole                1
Seneca Falls            1
Shallotte               1
Moss Point              1
Morrisville             1
Silsbee                 1
Monrovia                1
Beverly Hills           1
Sodus                   1
Christiansburg          1
Cicero                  1
Berwyn                  1
South Lake Tahoe        1
Millville               1
Bergenfield             1
Southborogh             1
Middleburg Heights      1
Medway                  1
Bennettsville           1
Eldridge                1
Length: 2424, dtype: int64

In [18]:
population = pd.read_csv('cityPopulation.csv')

In [19]:
population = population[['Name','Population']][:10]
population['Name'] = population['Name'].str.upper()
population['Population'] = population['Population'].astype(str)
population['Population'] = population['Population'].replace(',', '') 
for index, pop in population.iterrows():
    pop['Population'] = pop['Population'].replace(',', '')
    population['Population'][index] = int(float(pop['Population']))

In [20]:
finalData = pd.merge(Top_cities, population, left_on='City', right_on='Name').drop('Name', axis = 1)
finalData = finalData.drop('Original Price', axis=1).drop('Price', axis=1).drop('Make', axis=1).drop('Model', axis=1)
finalData['City'].unique()

array(['DALLAS', 'PHOENIX', 'PHILADELPHIA', 'HOUSTON', 'SAN ANTONIO',
       'SAN DIEGO', 'CHICAGO', 'SAN JOSE', 'LOS ANGELES', 'NEW YORK'],
      dtype=object)

In [21]:
finalData.to_csv('finalData.csv')

ValueError: Unable to parse string "2,340,814" at position 0