In [1]:
import pandas as pd;
import numpy as np

In [2]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')

In [3]:
#Select target state
#used_car['State'] = used_car['State'].str.upper()
#used_carGrouped = used_car.groupby('State')
#used_carGrouped.size().sort_values(ascending=False)

In [4]:
#Select taget Model
used_car['Model'] = used_car['Model'].str.upper()
used_car['Make'] = used_car['Make'].str.upper()
used_carGrouped = used_car.groupby(['Make','Model'])
used_carGrouped.size().sort_values(ascending=False)

Make        Model
CHEVROLET   SILVERADO           10932
NISSAN      ALTIMA2.5            5080
GMC         SIERRA               4950
JEEP        GRAND                4810
HONDA       ACCORD               4430
FORD        F-1504WD             4004
JEEP        WRANGLER             3506
HONDA       CIVIC                3460
BMW         3                    3325
VOLKSWAGEN  JETTA                3138
HYUNDAI     SANTA                2992
FORD        FUSIONSE             2953
CHEVROLET   EQUINOXFWD           2854
DODGE       GRAND                2510
TOYOTA      CAMRYSE              2348
FORD        SUPER                2300
TOYOTA      COROLLALE            2292
CHEVROLET   MALIBULT             2268
FORD        F-150XLT             1923
LAND        ROVER                1892
CHRYSLER    TOWN                 1860
CHEVROLET   CAMAROCOUPE          1730
DODGE       RAM                  1725
MINI        COOPER               1693
HYUNDAI     SONATA2.4L           1640
BMW         5                    1636
KIA         SORENTOLX            1634
FORD        F-1502WD             1618
KIA         OPTIMALX             1614
FORD        EXPLORERXLT          1613
                                ...
INFINITI    QX70V8                  1
CHEVROLET   CAMARO1LS               1
INFINITI    QX80BASE                1
CHEVROLET   CAMARO2LS               1
            CAMARO2SS               1
NISSAN      PATHFINDER4DR           1
INFINITI    M56X                    1
NISSAN      QUEST3DR                1
PONTIAC     FIREBIRD2000            1
BUICK       VERANOTURBO             1
PORSCHE     PANAMERAPLATINUM        1
DODGE       STRATUS2004.5           1
CADILLAC    CONCOURS4DR             1
PORSCHE     BOXSTERS                1
            BOXSTERGTS              1
DODGE       NEONSX                  1
            NEONSE                  1
CADILLAC    DEVILLEBASE             1
PLYMOUTH    VOYAGER4                1
NISSAN      SENTRANISMO             1
OLDSMOBILE  REGENCY4DR              1
CADILLAC    ESCALADEBASE            1
OLDSMOBILE  CUTLASS4DR              1
            CUTLASS                 1
INFINITI    M56BASE                 1
            M56M56                  1
OLDSMOBILE  884DR                   1
NISSAN      TRUCKS                  1
            TITANSE                 1
ACURA       CLMANUAL                1
Length: 2709, dtype: int64

In [5]:
used_car_copy = used_car.copy()

In [6]:
used_carGrouped

In [7]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [8]:
used_car_copy['Original Price'] = 0

In [9]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [10]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [11]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [12]:
used_car_copy=used_car_copy.dropna()

In [77]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
#gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [66]:
#Select car in top Ten most popular cities rank by sales

Houston = used_car_copy[used_car_copy['City'].str.contains('Houston')]
San_Antonio = used_car_copy[used_car_copy['City'].str.contains('San Antonio')]    
Louisville = used_car_copy[used_car_copy['City'].str.contains('Louisville')] 
Jacksonville = used_car_copy[used_car_copy['City'].str.contains('Jacksonville')] 
Austin = used_car_copy[used_car_copy['City'].str.contains('Austin')]                          
Columbia = used_car_copy[used_car_copy['City'].str.contains('Columbia')]                  
Raleigh = used_car_copy[used_car_copy['City'].str.contains('Raleigh')]                             
Orlando = used_car_copy[used_car_copy['City'].str.contains('Orlando')]   
Colorado = used_car_copy[used_car_copy['City'].str.contains('Colorado')]       
Philadelphia = used_car_copy[used_car_copy['City'].str.contains('Philadelphia')]    
San_Francisco = used_car_copy[used_car_copy['City'].str.contains('San Francisco')]    


Houston.drop(Houston.columns[0],axis=1,inplace=True)
San_Antonio.drop(San_Antonio.columns[0],axis=1,inplace=True)
Louisville.drop(Louisville.columns[0],axis=1,inplace=True)
Jacksonville.drop(Jacksonville.columns[0],axis=1,inplace=True)
Austin.drop(Austin.columns[0],axis=1,inplace=True)
Columbia.drop(Columbia.columns[0],axis=1,inplace=True)
Raleigh.drop(Raleigh.columns[0],axis=1,inplace=True)
Orlando.drop(Orlando.columns[0],axis=1,inplace=True)
Colorado.drop(Colorado.columns[0],axis=1,inplace=True)
Philadelphia.drop(Philadelphia.columns[0],axis=1,inplace=True)
San_Francisco.drop(San_Francisco.columns[0],axis=1,inplace=True)
Top_cities = pd.concat([Houston, San_Antonio, Louisville, Jacksonville, Austin, Columbia, Raleigh, Orlando, Colorado, Philadelphia, San_Francisco])

    
#CAUsedCar = used_car_copy[used_car_copy['State'].str.contains('CA')]

#WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

C:\Users\Krystal\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [67]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type
584,30477,2015,37012,Houston,TX,JEEP,WRANGLER,28045,SUV
1530,54981,2015,20645,Houston,TX,FORD,SUPER,33150,Truck
1671,15893,2015,30608,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
2221,13950,2015,95099,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
2375,29900,2015,24384,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
2387,26505,2014,42980,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
2847,16400,2017,25446,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
3026,18991,2014,33658,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
3629,44995,2016,18938,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
4543,34000,2014,63120,Houston,TX,GMC,SIERRA,35900,Truck
4836,27988,2014,30321,Houston,TX,GMC,SIERRA,35900,Truck
5411,17986,2015,21448,Houston,TX,HONDA,ACCORD,27470,Sedan
5572,24977,2014,29344,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
5969,33944,2017,15850,Houston,TX,JEEP,GRAND,31695,SUV
6272,34459,2015,94129,Houston,TX,FORD,F-1504WD,34695,Truck
6371,14225,2016,36317,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
7375,9999,2004,167182,Houston,TX,JEEP,GRAND,31695,SUV
8571,56995,2017,6030,Houston,TX,GMC,SIERRA,35900,Truck
9799,15995,2014,40576,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
9993,34944,2017,25401,Houston,TX,JEEP,GRAND,31695,SUV
11113,15449,2015,34834,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
11487,15995,2008,83493,Houston,TX,FORD,F-1504WD,34695,Truck
12293,9499,2008,115338,Houston,TX,HONDA,ACCORD,27470,Sedan
12924,30789,2014,32943,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
13321,35000,2014,19321,Houston,TX,FORD,F-1504WD,34695,Truck
13512,12995,2013,90214,Houston,TX,HONDA,ACCORD,27470,Sedan
14380,29988,2014,83803,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
14392,21493,2017,36715,Houston,TX,HONDA,ACCORD,27470,Sedan
14687,25884,2013,35832,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
14830,46000,2016,98970,Houston,TX,FORD,SUPER,33150,Truck
...,...,...,...,...,...,...,...,...,...
56,23288,2016,10829,San Francisco,CA,HONDA,ACCORD,27470,Sedan
13654,28997,2015,24057,San Francisco,CA,BMW,3,45000,Sedan
18161,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan
18943,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan
21069,25997,2011,55620,San Francisco,CA,JEEP,WRANGLER,28045,SUV
22263,19991,2014,26943,San Francisco,CA,HONDA,ACCORD,27470,Sedan
22751,19500,2016,21878,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
24796,26497,2014,28255,San Francisco,CA,BMW,3,45000,Sedan
38316,25997,2015,16470,San Francisco,CA,BMW,3,45000,Sedan
46098,37997,2015,25615,San Francisco,CA,BMW,3,45000,Sedan
51833,12500,2014,20995,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
70311,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan
78360,29997,2014,30953,San Francisco,CA,BMW,3,45000,Sedan
90961,26997,2015,34560,San Francisco,CA,BMW,3,45000,Sedan
93502,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
101602,27297,2015,26938,San Francisco,CA,BMW,3,45000,Sedan
125188,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan
134418,23991,2017,7592,San Francisco,CA,HONDA,ACCORD,27470,Sedan
143932,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan
145454,31997,2014,30152,San Francisco,CA,BMW,3,45000,Sedan
208405,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
228951,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
235396,23997,2014,37760,San Francisco,CA,BMW,3,45000,Sedan
243715,21994,2016,18065,San Francisco,CA,HONDA,ACCORD,27470,Sedan
263663,20492,2017,17669,San Francisco,CA,HONDA,ACCORD,27470,Sedan
279702,25777,2014,42633,San Francisco,CA,BMW,3,45000,Sedan
285832,22297,2015,52357,San Francisco,CA,BMW,3,45000,Sedan
288185,45997,2016,5523,San Francisco,CA,BMW,3,45000,Sedan
297810,30297,2015,19212,San Francisco,CA,BMW,3,45000,Sedan
336484,20898,2014,45435,San Francisco,CA,BMW,3,45000,Sedan

In [68]:
#remove cars are not made in the year of 2001 to 2017
#CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

Top_cities = Top_cities[(Top_cities['Year'] >2000) & (Top_cities['Year'] <2018)]

In [69]:
#add a column of service time 
Top_cities['serviceTime'] = 2018 - Top_cities['Year']
#get depreciationRate and then drop price and original price
Top_cities['DepreciationRate'] = Top_cities['Price']/Top_cities['Original Price']
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

C:\Users\Krystal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Krystal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [70]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate
584,30477,2015,37012,Houston,TX,JEEP,WRANGLER,28045,SUV,3,1.086718
1530,54981,2015,20645,Houston,TX,FORD,SUPER,33150,Truck,3,1.658552
1671,15893,2015,30608,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.500094
2221,13950,2015,95099,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.438955
2375,29900,2015,24384,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.782723
2387,26505,2014,42980,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.693848
2847,16400,2017,25446,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,1,0.516048
3026,18991,2014,33658,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.597577
3629,44995,2016,18938,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,2,1.177880
4543,34000,2014,63120,Houston,TX,GMC,SIERRA,35900,Truck,4,0.947075
4836,27988,2014,30321,Houston,TX,GMC,SIERRA,35900,Truck,4,0.779610
5411,17986,2015,21448,Houston,TX,HONDA,ACCORD,27470,Sedan,3,0.654751
5572,24977,2014,29344,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.653848
5969,33944,2017,15850,Houston,TX,JEEP,GRAND,31695,SUV,1,1.070958
6272,34459,2015,94129,Houston,TX,FORD,F-1504WD,34695,Truck,3,0.993198
6371,14225,2016,36317,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.447609
7375,9999,2004,167182,Houston,TX,JEEP,GRAND,31695,SUV,14,0.315476
8571,56995,2017,6030,Houston,TX,GMC,SIERRA,35900,Truck,1,1.587604
9799,15995,2014,40576,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.503304
9993,34944,2017,25401,Houston,TX,JEEP,GRAND,31695,SUV,1,1.102508
11113,15449,2015,34834,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.486123
11487,15995,2008,83493,Houston,TX,FORD,F-1504WD,34695,Truck,10,0.461017
12293,9499,2008,115338,Houston,TX,HONDA,ACCORD,27470,Sedan,10,0.345795
12924,30789,2014,32943,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.805995
13321,35000,2014,19321,Houston,TX,FORD,F-1504WD,34695,Truck,4,1.008791
13512,12995,2013,90214,Houston,TX,HONDA,ACCORD,27470,Sedan,5,0.473062
14380,29988,2014,83803,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.785026
14392,21493,2017,36715,Houston,TX,HONDA,ACCORD,27470,Sedan,1,0.782417
14687,25884,2013,35832,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.677592
14830,46000,2016,98970,Houston,TX,FORD,SUPER,33150,Truck,2,1.387632
...,...,...,...,...,...,...,...,...,...,...,...
56,23288,2016,10829,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.847761
13654,28997,2015,24057,San Francisco,CA,BMW,3,45000,Sedan,3,0.644378
18161,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.836949
18943,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan,5,0.499933
21069,25997,2011,55620,San Francisco,CA,JEEP,WRANGLER,28045,SUV,7,0.926975
22263,19991,2014,26943,San Francisco,CA,HONDA,ACCORD,27470,Sedan,4,0.727739
22751,19500,2016,21878,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.795918
24796,26497,2014,28255,San Francisco,CA,BMW,3,45000,Sedan,4,0.588822
38316,25997,2015,16470,San Francisco,CA,BMW,3,45000,Sedan,3,0.577711
46098,37997,2015,25615,San Francisco,CA,BMW,3,45000,Sedan,3,0.844378
51833,12500,2014,20995,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.510204
70311,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan,4,0.499933
78360,29997,2014,30953,San Francisco,CA,BMW,3,45000,Sedan,4,0.666600
90961,26997,2015,34560,San Francisco,CA,BMW,3,45000,Sedan,3,0.599933
93502,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224
101602,27297,2015,26938,San Francisco,CA,BMW,3,45000,Sedan,3,0.606600
125188,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan,4,0.644378
134418,23991,2017,7592,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.873353
143932,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan,9,0.295289
145454,31997,2014,30152,San Francisco,CA,BMW,3,45000,Sedan,4,0.711044
208405,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796
228951,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245
235396,23997,2014,37760,San Francisco,CA,BMW,3,45000,Sedan,4,0.533267
243715,21994,2016,18065,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.800655
263663,20492,2017,17669,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.745977
279702,25777,2014,42633,San Francisco,CA,BMW,3,45000,Sedan,4,0.572822
285832,22297,2015,52357,San Francisco,CA,BMW,3,45000,Sedan,3,0.495489
288185,45997,2016,5523,San Francisco,CA,BMW,3,45000,Sedan,2,1.022156
297810,30297,2015,19212,San Francisco,CA,BMW,3,45000,Sedan,3,0.673267
336484,20898,2014,45435,San Francisco,CA,BMW,3,45000,Sedan,4,0.464400

In [71]:
#CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.DepreciationRate > 1.0].index)
Top_cities = Top_cities.drop(Top_cities[Top_cities.DepreciationRate > 1.0].index)

In [72]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate
1671,15893,2015,30608,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.500094
2221,13950,2015,95099,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.438955
2375,29900,2015,24384,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.782723
2387,26505,2014,42980,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.693848
2847,16400,2017,25446,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,1,0.516048
3026,18991,2014,33658,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.597577
4543,34000,2014,63120,Houston,TX,GMC,SIERRA,35900,Truck,4,0.947075
4836,27988,2014,30321,Houston,TX,GMC,SIERRA,35900,Truck,4,0.779610
5411,17986,2015,21448,Houston,TX,HONDA,ACCORD,27470,Sedan,3,0.654751
5572,24977,2014,29344,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.653848
6272,34459,2015,94129,Houston,TX,FORD,F-1504WD,34695,Truck,3,0.993198
6371,14225,2016,36317,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.447609
7375,9999,2004,167182,Houston,TX,JEEP,GRAND,31695,SUV,14,0.315476
9799,15995,2014,40576,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.503304
11113,15449,2015,34834,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.486123
11487,15995,2008,83493,Houston,TX,FORD,F-1504WD,34695,Truck,10,0.461017
12293,9499,2008,115338,Houston,TX,HONDA,ACCORD,27470,Sedan,10,0.345795
12924,30789,2014,32943,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.805995
13512,12995,2013,90214,Houston,TX,HONDA,ACCORD,27470,Sedan,5,0.473062
14380,29988,2014,83803,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.785026
14392,21493,2017,36715,Houston,TX,HONDA,ACCORD,27470,Sedan,1,0.782417
14687,25884,2013,35832,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.677592
16012,12491,2010,71120,Houston,TX,HONDA,ACCORD,27470,Sedan,8,0.454714
16019,24525,2011,123507,Houston,TX,GMC,SIERRA,35900,Truck,7,0.683148
16966,32998,2014,43840,Houston,TX,GMC,SIERRA,35900,Truck,4,0.919164
17093,21500,2015,37699,Houston,TX,HONDA,ACCORD,27470,Sedan,3,0.782672
17379,4495,2004,141014,Houston,TX,HONDA,ACCORD,27470,Sedan,14,0.163633
17461,28488,2016,16976,Houston,TX,GMC,SIERRA,35900,Truck,2,0.793538
18677,19980,2011,60275,Houston,TX,BMW,3,45000,Sedan,7,0.444000
19514,28990,2014,30662,Houston,TX,JEEP,GRAND,31695,SUV,4,0.914655
...,...,...,...,...,...,...,...,...,...,...,...
364309,13495,2016,45438,Philadelphia,PA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.424638
56,23288,2016,10829,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.847761
13654,28997,2015,24057,San Francisco,CA,BMW,3,45000,Sedan,3,0.644378
18161,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.836949
18943,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan,5,0.499933
21069,25997,2011,55620,San Francisco,CA,JEEP,WRANGLER,28045,SUV,7,0.926975
22263,19991,2014,26943,San Francisco,CA,HONDA,ACCORD,27470,Sedan,4,0.727739
22751,19500,2016,21878,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.795918
24796,26497,2014,28255,San Francisco,CA,BMW,3,45000,Sedan,4,0.588822
38316,25997,2015,16470,San Francisco,CA,BMW,3,45000,Sedan,3,0.577711
46098,37997,2015,25615,San Francisco,CA,BMW,3,45000,Sedan,3,0.844378
51833,12500,2014,20995,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.510204
70311,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan,4,0.499933
78360,29997,2014,30953,San Francisco,CA,BMW,3,45000,Sedan,4,0.666600
90961,26997,2015,34560,San Francisco,CA,BMW,3,45000,Sedan,3,0.599933
93502,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224
101602,27297,2015,26938,San Francisco,CA,BMW,3,45000,Sedan,3,0.606600
125188,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan,4,0.644378
134418,23991,2017,7592,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.873353
143932,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan,9,0.295289
145454,31997,2014,30152,San Francisco,CA,BMW,3,45000,Sedan,4,0.711044
208405,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796
228951,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245
235396,23997,2014,37760,San Francisco,CA,BMW,3,45000,Sedan,4,0.533267
243715,21994,2016,18065,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.800655
263663,20492,2017,17669,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.745977
279702,25777,2014,42633,San Francisco,CA,BMW,3,45000,Sedan,4,0.572822
285832,22297,2015,52357,San Francisco,CA,BMW,3,45000,Sedan,3,0.495489
297810,30297,2015,19212,San Francisco,CA,BMW,3,45000,Sedan,3,0.673267
336484,20898,2014,45435,San Francisco,CA,BMW,3,45000,Sedan,4,0.464400

In [78]:
#CAUsedCar['Gdp'] = 0
#CAUsedCar['City'] = CAUsedCar['City'].str.upper()
#gdp['GeoName'] = gdp['GeoName'].str.upper()
#for index,car in CAUsedCar.iterrows():
   # allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
   # col = [col for col in allGdp.columns if str(car['Year']) in col]
   # Gdp = allGdp[col].values.tolist()
   # if len(Gdp) > 0:
       # car['Gdp'] = Gdp[0][0]
       # CAUsedCar.at[index,'Gdp'] = float(Gdp[0][0])
        
Top_cities['Gdp'] = 0
Top_cities['City'] = Top_cities['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,car in Top_cities.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
    col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp[col].values.tolist()
    if len(Gdp) > 0:
        car['Gdp'] = Gdp[0][0]
        Top_cities.at[index,'Gdp'] = float(Gdp[0][0])

In [79]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
1671,15893,2015,30608,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.500094,494837
2221,13950,2015,95099,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.438955,494837
2375,29900,2015,24384,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.782723,494837
2387,26505,2014,42980,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.693848,507183
2847,16400,2017,25446,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,1,0.516048,490074
3026,18991,2014,33658,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.597577,507183
4543,34000,2014,63120,HOUSTON,TX,GMC,SIERRA,35900,Truck,4,0.947075,507183
4836,27988,2014,30321,HOUSTON,TX,GMC,SIERRA,35900,Truck,4,0.779610,507183
5411,17986,2015,21448,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,3,0.654751,494837
5572,24977,2014,29344,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.653848,507183
6272,34459,2015,94129,HOUSTON,TX,FORD,F-1504WD,34695,Truck,3,0.993198,494837
6371,14225,2016,36317,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.447609,472331
7375,9999,2004,167182,HOUSTON,TX,JEEP,GRAND,31695,SUV,14,0.315476,277872
9799,15995,2014,40576,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.503304,507183
11113,15449,2015,34834,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.486123,494837
11487,15995,2008,83493,HOUSTON,TX,FORD,F-1504WD,34695,Truck,10,0.461017,394059
12293,9499,2008,115338,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,10,0.345795,394059
12924,30789,2014,32943,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.805995,507183
13512,12995,2013,90214,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,5,0.473062,488429
14380,29988,2014,83803,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.785026,507183
14392,21493,2017,36715,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,1,0.782417,490074
14687,25884,2013,35832,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.677592,488429
16012,12491,2010,71120,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,8,0.454714,392519
16019,24525,2011,123507,HOUSTON,TX,GMC,SIERRA,35900,Truck,7,0.683148,430922
16966,32998,2014,43840,HOUSTON,TX,GMC,SIERRA,35900,Truck,4,0.919164,507183
17093,21500,2015,37699,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,3,0.782672,494837
17379,4495,2004,141014,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,14,0.163633,277872
17461,28488,2016,16976,HOUSTON,TX,GMC,SIERRA,35900,Truck,2,0.793538,472331
18677,19980,2011,60275,HOUSTON,TX,BMW,3,45000,Sedan,7,0.444000,430922
19514,28990,2014,30662,HOUSTON,TX,JEEP,GRAND,31695,SUV,4,0.914655,507183
...,...,...,...,...,...,...,...,...,...,...,...,...
364309,13495,2016,45438,PHILADELPHIA,PA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.424638,431383
56,23288,2016,10829,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.847761,475416
13654,28997,2015,24057,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.644378,445123
18161,22991,2017,11572,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,1,0.836949,500710
18943,22497,2013,36130,SAN FRANCISCO,CA,BMW,3,45000,Sedan,5,0.499933,385451
21069,25997,2011,55620,SAN FRANCISCO,CA,JEEP,WRANGLER,28045,SUV,7,0.926975,340757
22263,19991,2014,26943,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,4,0.727739,413026
22751,19500,2016,21878,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.795918,475416
24796,26497,2014,28255,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.588822,413026
38316,25997,2015,16470,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.577711,445123
46098,37997,2015,25615,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.844378,445123
51833,12500,2014,20995,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.510204,413026
70311,22497,2014,38119,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.499933,413026
78360,29997,2014,30953,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.666600,413026
90961,26997,2015,34560,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.599933,445123
93502,11300,2014,25471,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224,413026
101602,27297,2015,26938,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.606600,445123
125188,28997,2014,25520,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.644378,413026
134418,23991,2017,7592,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,1,0.873353,500710
143932,13288,2009,71833,SAN FRANCISCO,CA,BMW,3,45000,Sedan,9,0.295289,331326
145454,31997,2014,30152,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.711044,413026
208405,12000,2015,16197,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796,445123
228951,10982,2014,60979,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245,413026
235396,23997,2014,37760,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.533267,413026
243715,21994,2016,18065,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.800655,475416
263663,20492,2017,17669,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,1,0.745977,500710
279702,25777,2014,42633,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.572822,413026
285832,22297,2015,52357,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.495489,445123
297810,30297,2015,19212,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.673267,445123
336484,20898,2014,45435,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.464400,413026

In [74]:
#CAUsedCarFinal = CAUsedCar[CAUsedCar['Gdp'] > 0]
#CAUsedCarFinal

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
56,56,23288,2016,10829,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.847761,475416
570,570,11999,2007,184880,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.314110,99460
1725,1725,37500,2015,9633,FAIRFIELD,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.981675,20009
1864,1864,22995,2017,21833,FRESNO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,1,0.741774,42045
1988,1988,10000,2014,28536,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,204914
2579,2579,17900,2016,6500,NAPA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.563247,11105
3859,3859,20871,2014,50195,VALLEJO,CA,HYUNDAI,SANTA,29800,SUV,4,0.700369,20180
4086,4086,27995,2015,39175,ONTARIO,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.732853,144079
4880,4880,18991,2014,18512,NAPA,CA,HONDA,ACCORD,27470,Sedan,4,0.691336,9547
5727,5727,10000,2014,16445,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,204914
5827,5827,7995,2006,133900,STOCKTON,CA,BMW,3,45000,Sedan,12,0.177667,20322
6169,6169,18500,2014,81356,OXNARD,CA,BMW,3,45000,Sedan,4,0.411111,48733
6493,6493,9999,2008,98084,YUBA CITY,CA,HONDA,ACCORD,27470,Sedan,10,0.363997,4661
6579,6579,25888,2015,37681,HANFORD,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.677696,5090
6825,6825,17000,2015,37485,MODESTO,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.534928,19377
7126,7126,21246,2014,27250,SAN DIEGO,CA,BMW,3,45000,Sedan,4,0.472133,204914
7146,7146,8595,2007,129137,SACRAMENTO,CA,HONDA,ACCORD,27470,Sedan,11,0.312887,99460
7412,7412,20488,2017,521,HAYWARD,CA,NISSAN,ALTIMA2.5,31780,Sedan,1,0.644682,500710
8011,8011,31777,2016,32473,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.831859,222962
8329,8329,22995,2011,89079,HAYWARD,CA,CHEVROLET,SILVERADO,38200,Truck,7,0.601963,340757
9082,9082,16781,2016,41791,FAIRFIELD,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.528037,20389
9207,9207,15700,2015,44183,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.640816,445123
9279,9279,20000,2016,23254,SANTA ROSA,CA,GMC,SIERRA,35900,Truck,2,0.557103,27405
9934,9934,10000,2014,57490,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,413026
10002,10002,18800,2009,111601,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,9,0.492147,172502
10113,10113,20997,2007,188235,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.549660,99460
10214,10214,27183,2015,20052,MODESTO,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.711597,19377
10671,10671,36400,2015,11221,SAN JOSE,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.952880,237831
10781,10781,11500,2014,38941,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469388,204914
10831,10831,12200,2016,12307,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.497959,222962
...,...,...,...,...,...,...,...,...,...,...,...,...,...
352003,352003,20995,2014,38244,SAN JOSE,CA,BMW,3,45000,Sedan,4,0.466556,210690
352911,352911,24995,2016,16960,ONTARIO,CA,GMC,SIERRA,35900,Truck,2,0.696240,150575
353283,353283,13486,2008,85434,SACRAMENTO,CA,BMW,3,45000,Sedan,10,0.299689,98548
354148,354148,31881,2016,10473,SANTA ROSA,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.834581,27405
355023,355023,9940,2014,28302,ONTARIO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.405714,133909
355198,355198,10700,2014,35514,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.436735,204914
355790,355790,23968,2017,1651,SAN DIEGO,CA,NISSAN,ALTIMA2.5,31780,Sedan,1,0.754185,231845
355878,355878,13195,2014,52271,BAKERSFIELD,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.538571,39532
355896,355896,13995,2015,71759,SACRAMENTO,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.440371,116188
356029,356029,15991,2015,35766,RIVERSIDE,CA,HONDA,ACCORD,27470,Sedan,3,0.582126,144079
356073,356073,16045,2011,44183,THOUSAND OAKS,CA,CHEVROLET,EQUINOXFWD,31000,SUV,7,0.517581,43832
356278,356278,17489,2015,17591,HAYWARD,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.713837,445123
356329,356329,36900,2016,16081,RIVERSIDE,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.965969,150575
356532,356532,15500,2005,111704,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,13,0.405759,167617
356805,356805,10995,2014,60309,ROSEVILLE,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448776,109222
358058,358058,16995,2016,20235,ROSEVILLE,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.534770,121202
358301,358301,11940,2014,21577,ONTARIO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.487347,133909
358599,358599,28842,2014,14315,ROSEVILLE,CA,BMW,3,45000,Sedan,4,0.640933,109222
359121,359121,11000,2014,35923,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448980,413026
359534,359534,19999,2015,22074,MODESTO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.645129,19377
359917,359917,13000,2016,44792,SANTA ROSA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.409062,27405
361479,361479,21593,2011,97145,FAIRFIELD,CA,GMC,SIERRA,35900,Truck,7,0.601476,15523
362157,362157,19500,2004,104367,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.510471,154772
362241,362241,7495,2007,119685,LOS ANGELES,CA,BMW,3,45000,Sedan,11,0.166556,753117
362453,362453,9988,2012,101509,SAN DIEGO,CA,HONDA,ACCORD,27470,Sedan,6,0.363597,189073
362615,362615,13497,2014,57386,ROSEVILLE,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.424701,109222
363128,363128,29998,2014,28293,VALLEJO,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.785288,20180
363249,363249,23990,2012,62354,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,6,0.628010,100242
363382,363382,32720,2017,6677,SAN JOSE,CA,CHEVROLET,SILVERADO,38200,Truck,1,0.856545,275293
364483,364483,19100,2017,22007,SANTA CLARA,CA,HYUNDAI,SANTA,29800,SUV,1,0.640940,275293

In [29]:
used_car_copy.groupby(['City']).size().sort_values(ascending=False)

City
Houston               779
San Antonio           412
Louisville            377
Jacksonville          338
Austin                337
Columbia              337
Raleigh               301
Orlando               299
Colorado Springs      287
Philadelphia          273
Puyallup              265
Dallas                263
Columbus              245
Phoenix               231
Las Vegas             226
Charlotte             221
Miami                 218
Concord               204
Tampa                 200
Indianapolis          200
Madison               191
Fort Worth            181
El Paso               175
Oklahoma City         171
Albuquerque           170
Richmond              169
Tucson                167
Marietta              164
Arlington             157
Springfield           155
                     ...
Lemont                  1
Tamarac                 1
Country Club Hills      1
Lehi                    1
St Petersburg           1
McLean                  1
Mt. Kisco               1
Spicewood               1
Secaucus                1
Seguin                  1
Seminole                1
Seneca Falls            1
Shallotte               1
Moss Point              1
Morrisville             1
Silsbee                 1
Monrovia                1
Beverly Hills           1
Sodus                   1
Christiansburg          1
Cicero                  1
Berwyn                  1
South Lake Tahoe        1
Millville               1
Bergenfield             1
Southborogh             1
Middleburg Heights      1
Medway                  1
Bennettsville           1
Eldridge                1
Length: 2424, dtype: int64

In [30]:
#elevation = pd.read_csv('cleanData/elevationClean.csv')
state = pd.read_csv('rawData/50_us_states_all_data (1).csv')
state.drop(state.columns[0],axis=1,inplace=True)
state.drop(state.columns[2],axis=1,inplace=True)
finalData = elevation.merge(state, how='inner', left_on='State', right_on='StateName').drop('StateName', axis=1)
finalData = finalData.merge(gdp, how='inner', left_on='State', right_on='GeoName').drop('GeoName', axis=1)
#finalData = used_car.merge(finalData, how='inner', left_on='State', right_on='StateAggre')
finalData = finalData[finalData.ComponentName == 'Gross domestic product (GDP) by state (millions of current dollars)']
finalData = finalData.drop('ComponentName', axis=1)
finalData = finalData.drop('Description', axis=1)
finalData.drop(finalData.columns[0],axis=1,inplace=True)
finalData.drop(finalData.columns[5],axis=1,inplace=True)
#used_car = used_car.merge(car_sales, how='left', left_on='Model', right_on='Model')
#for index,car in car_sales.iterrows():
   # carMake = car['Make'].strip()
    #if used_car['Make'].str.contains(carMake).any():
    #    carMakeModel = car_sales.loc[car_sales['Make'] == carMake]
    #    print('g')
    #    print(carMakeModel)
      #  pat = '|'.join(r"{}".format(x) for x in car['Make'])
     #   used_car['Test3'] = used_car['Make'].str.extract('('+ pat + ')', expand=False)
        #DF = pd.merge(DF1, DF2, left_on= 'Test1', right_on='Test3').drop('Test3', axis=1)
finalData

NameError: name 'elevation' is not defined

In [31]:
WAUsedCar

NameError: name 'WAUsedCar' is not defined

In [ ]:
bigSeattleUsedCar
bigSeattleUsedCar.groupby(['Make','Model']).size().sort_values(ascending=False)

In [ ]:
#Group by vehicle type
used_car_copy['Model'] = used_car_copy['Model'].str.upper()
used_car_copy['Make'] = used_car_copy['Make'].str.upper()
used_carGrouped = used_car_copy.groupby(['Vehicle Type'])
used_carGrouped.size().sort_values(ascending=False)

In [ ]:
&car_sales['depreciationRate'] = car_sales['4-year resale value']/car_sales['Price']
import matplotlib.pyplot as plt
plt.figure()
plt.hist(car_sales['depreciationRate'])
plt.show()

In [ ]:
plt.figure()
plt.scatter(used_car['Mileage'],used_car['Price'])
plt.show()

In [ ]:
plt.figure()
plt.scatter(2018-used_car['Year'],used_car['Price'])
plt.show()

In [ ]:
#city_pop = pd.read_csv('city pop.csv', encoding='utf-8', errors='ignore')

In [ ]:
used_car = pd.read_csv('car pop.csv')