In [1]:
import pandas as pd;
import numpy as np

In [2]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')

In [3]:
#Select target state
#used_car['State'] = used_car['State'].str.upper()
#used_carGrouped = used_car.groupby('State')
#used_carGrouped.size().sort_values(ascending=False)

In [46]:
#Select taget Model
used_car['Model'] = used_car['Model'].str.upper()
used_car['Make'] = used_car['Make'].str.upper()
used_carGrouped = used_car.groupby(['Make','Model'])
used_carGrouped.size().sort_values(ascending=False)

Make        Model
CHEVROLET   SILVERADO           10932
NISSAN      ALTIMA2.5            5080
GMC         SIERRA               4950
JEEP        GRAND                4810
HONDA       ACCORD               4430
FORD        F-1504WD             4004
JEEP        WRANGLER             3506
HONDA       CIVIC                3460
BMW         3                    3325
VOLKSWAGEN  JETTA                3138
HYUNDAI     SANTA                2992
FORD        FUSIONSE             2953
CHEVROLET   EQUINOXFWD           2854
DODGE       GRAND                2510
TOYOTA      CAMRYSE              2348
FORD        SUPER                2300
TOYOTA      COROLLALE            2292
CHEVROLET   MALIBULT             2268
FORD        F-150XLT             1923
LAND        ROVER                1892
CHRYSLER    TOWN                 1860
CHEVROLET   CAMAROCOUPE          1730
DODGE       RAM                  1725
MINI        COOPER               1693
HYUNDAI     SONATA2.4L           1640
BMW         5                    1636
KIA         SORENTOLX            1634
FORD        F-1502WD             1618
KIA         OPTIMALX             1614
FORD        EXPLORERXLT          1613
                                ...
INFINITI    QX70V8                  1
CHEVROLET   CAMARO1LS               1
INFINITI    QX80BASE                1
CHEVROLET   CAMARO2LS               1
            CAMARO2SS               1
NISSAN      PATHFINDER4DR           1
INFINITI    M56X                    1
NISSAN      QUEST3DR                1
PONTIAC     FIREBIRD2000            1
BUICK       VERANOTURBO             1
PORSCHE     PANAMERAPLATINUM        1
DODGE       STRATUS2004.5           1
CADILLAC    CONCOURS4DR             1
PORSCHE     BOXSTERS                1
            BOXSTERGTS              1
DODGE       NEONSX                  1
            NEONSE                  1
CADILLAC    DEVILLEBASE             1
PLYMOUTH    VOYAGER4                1
NISSAN      SENTRANISMO             1
OLDSMOBILE  REGENCY4DR              1
CADILLAC    ESCALADEBASE            1
OLDSMOBILE  CUTLASS4DR              1
            CUTLASS                 1
INFINITI    M56BASE                 1
            M56M56                  1
OLDSMOBILE  884DR                   1
NISSAN      TRUCKS                  1
            TITANSE                 1
ACURA       CLMANUAL                1
Length: 2709, dtype: int64

In [5]:
used_car_copy = used_car.copy()

In [45]:
used_carGrouped

In [6]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [7]:
used_car_copy['Original Price'] = 0

In [8]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [9]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [10]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [11]:
used_car_copy=used_car_copy.dropna()

In [12]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [13]:
#Select car in WA


Houston               779
San Antonio           412
Louisville            377
Jacksonville          338
Austin                337
Columbia              337
Raleigh               301
Orlando               299
Colorado Springs      287
Philadelphia          273

csedCar = used_car_copy[used_car_copy['City'].str.contains
CAUsedCar = used_car_copy[used_car_copy['City'].str.contains

Houston = used_car_copy[used_car_copy['City'].str.contains['Houston']]
San Antonio = used_car_copy[used_car_copy['City'].str.contains['San Antonio']]    
Louisville = used_car_copy[used_car_copy['City'].str.contains['Louisville']] 
Jacksonville = used_car_copy[used_car_copy['City'].str.contains['Jacksonville']] 
Austin = used_car_copy[used_car_copy['City'].str.contains['Austin']]                          
Columbia = used_car_copy[used_car_copy['City'].str.contains['Columbia']]                  
Raleigh = used_car_copy[used_car_copy['City'].str.contains['Raleigh']]                             
Orlando = used_car_copy[used_car_copy['City'].str.contains['Orlando']]   
Colorado Springs = used_car_copy[used_car_copy['City'].str.contains['Colorado']]       
Philadelphia = used_car_copy[used_car_copy['City'].str.contains['Philadelphia']]                             
                          

WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

C:\Users\Krystal\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [ ]:
CAUsedCar

In [14]:
#remove cars are not made in the year of 2001 to 2017
CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

In [15]:
#add a column of service time 
CAUsedCar['serviceTime'] = 2018 - CAUsedCar['Year']
#get depreciationRate and then drop price and original price
CAUsedCar['DepreciationRate'] = CAUsedCar['Price']/CAUsedCar['Original Price']
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

In [16]:
CAUsedCar

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,depreciationRate
56,23288,2016,10829,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.847761
222,21560,2017,20686,MONTCLAIR,CA,HYUNDAI,SANTA,29800,SUV,1,0.723490
255,26995,2011,95921,Signal Hill,CA,FORD,F-1504WD,34695,Truck,7,0.778066
317,35000,2017,17275,San Mateo,CA,JEEP,GRAND,31695,SUV,1,1.104275
353,14300,2007,117924,Woodland,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.374346
570,11999,2007,184880,Sacramento,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.314110
574,24500,2014,28579,Concord,CA,BMW,3,45000,Sedan,4,0.544444
604,35988,2017,4108,Norwalk,CA,BMW,3,45000,Sedan,1,0.799733
655,31988,2015,46210,Pleasanton,CA,JEEP,WRANGLER,28045,SUV,3,1.140595
820,19991,2015,36191,Palmdale,CA,HONDA,ACCORD,27470,Sedan,3,0.727739
847,13499,2014,33149,Stanton,CA,HONDA,ACCORD,27470,Sedan,4,0.491409
897,11499,2014,28794,West Covina,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469347
914,12540,2010,164610,Pittsburg,CA,FORD,F-1504WD,34695,Truck,8,0.361435
974,16560,2016,41823,Richmond,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.521082
1034,20977,2004,70716,El Cajon,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.549136
1153,48000,2014,43933,Chino,CA,FORD,SUPER,33150,Truck,4,1.447964
1197,13000,2016,47059,Tustin,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.409062
1224,14783,2015,21383,Colma,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.465167
1506,18197,2016,11215,Montclair,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.742735
1511,13588,2016,44634,Gardena,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.427565
1545,21987,2014,41051,El Cajon,CA,BMW,3,45000,Sedan,4,0.488600
1652,8990,2014,35332,Corona,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.366939
1666,39845,2017,4039,Norwalk,CA,BMW,3,45000,Sedan,1,0.885444
1725,37500,2015,9633,Fairfield,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.981675
1864,22995,2017,21833,Fresno,CA,CHEVROLET,EQUINOXFWD,31000,SUV,1,0.741774
1904,18971,2014,70989,Walnut Creek,CA,BMW,3,45000,Sedan,4,0.421578
1988,10000,2014,28536,San Diego,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163
2098,10995,2005,138100,El Cajon,CA,CHEVROLET,SILVERADO,38200,Truck,13,0.287827
2308,29495,2011,44956,Fontana,CA,GMC,SIERRA,35900,Truck,7,0.821588
2416,12499,2012,108500,Elk Grove,CA,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.403194
...,...,...,...,...,...,...,...,...,...,...,...
362241,7495,2007,119685,Los Angeles,CA,BMW,3,45000,Sedan,11,0.166556
362453,9988,2012,101509,San Diego,CA,HONDA,ACCORD,27470,Sedan,6,0.363597
362504,55995,2015,23786,Vacaville,CA,CHEVROLET,SILVERADO,38200,Truck,3,1.465838
362615,13497,2014,57386,Roseville,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.424701
362620,49995,2013,55956,Woodland Hills,CA,FORD,SUPER,33150,Truck,5,1.508145
363128,29998,2014,28293,Vallejo,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.785288
363137,11850,2009,56575,Alhambra,CA,BMW,3,45000,Sedan,9,0.263333
363249,23990,2012,62354,Sacramento,CA,CHEVROLET,SILVERADO,38200,Truck,6,0.628010
363337,48990,2011,44426,Huntington Beach,CA,FORD,SUPER,33150,Truck,7,1.477828
363382,32720,2017,6677,San Jose,CA,CHEVROLET,SILVERADO,38200,Truck,1,0.856545
363383,28595,2014,49227,Fontana,CA,JEEP,GRAND,31695,SUV,4,0.902193
363416,8999,2014,92510,Redlands,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.283166
363490,25778,2014,31401,Pleasanton,CA,BMW,3,45000,Sedan,4,0.572844
363746,17897,2015,18357,Escondido,CA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.577323
363773,19995,2014,122986,Newhall,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.523429
363845,19999,2009,84362,Corona,CA,GMC,SIERRA,35900,Truck,9,0.557075
363848,36999,2017,7747,Watsonville,CA,GMC,SIERRA,35900,Truck,1,1.030613
363856,36299,2017,4812,Cerritos,CA,GMC,SIERRA,35900,Truck,1,1.011114
364002,7995,2005,76425,Fair Oaks,CA,BMW,3,45000,Sedan,13,0.177667
364004,38587,2015,24831,Moreno Valley,CA,JEEP,WRANGLER,28045,SUV,3,1.375896
364007,18991,2014,76493,Palmdale,CA,HONDA,ACCORD,27470,Sedan,4,0.691336
364028,34016,2016,5,Culver City,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.890471
364240,52995,2017,24373,Fontana,CA,FORD,SUPER,33150,Truck,1,1.598643
364391,35000,2017,16030,Escondido,CA,JEEP,GRAND,31695,SUV,1,1.104275
364405,37991,2015,20912,Los Angeles,CA,JEEP,WRANGLER,28045,SUV,3,1.354644
364440,12995,2005,100800,Fair Oaks,CA,GMC,SIERRA,35900,Truck,13,0.361978
364483,19100,2017,22007,Santa Clara,CA,HYUNDAI,SANTA,29800,SUV,1,0.640940
364742,45998,2015,29051,Half Moon Bay,CA,FORD,F-1504WD,34695,Truck,3,1.325782
364750,18999,2008,106504,Corona,CA,CHEVROLET,SILVERADO,38200,Truck,10,0.497356
364863,52995,2013,38550,Vacaville,CA,FORD,SUPER,33150,Truck,5,1.598643

In [18]:
CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.depreciationRate > 1.0].index)

In [19]:
CAUsedCar

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,depreciationRate
56,23288,2016,10829,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.847761
222,21560,2017,20686,MONTCLAIR,CA,HYUNDAI,SANTA,29800,SUV,1,0.723490
255,26995,2011,95921,Signal Hill,CA,FORD,F-1504WD,34695,Truck,7,0.778066
353,14300,2007,117924,Woodland,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.374346
570,11999,2007,184880,Sacramento,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.314110
574,24500,2014,28579,Concord,CA,BMW,3,45000,Sedan,4,0.544444
604,35988,2017,4108,Norwalk,CA,BMW,3,45000,Sedan,1,0.799733
820,19991,2015,36191,Palmdale,CA,HONDA,ACCORD,27470,Sedan,3,0.727739
847,13499,2014,33149,Stanton,CA,HONDA,ACCORD,27470,Sedan,4,0.491409
897,11499,2014,28794,West Covina,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469347
914,12540,2010,164610,Pittsburg,CA,FORD,F-1504WD,34695,Truck,8,0.361435
974,16560,2016,41823,Richmond,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.521082
1034,20977,2004,70716,El Cajon,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.549136
1197,13000,2016,47059,Tustin,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.409062
1224,14783,2015,21383,Colma,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.465167
1506,18197,2016,11215,Montclair,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.742735
1511,13588,2016,44634,Gardena,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.427565
1545,21987,2014,41051,El Cajon,CA,BMW,3,45000,Sedan,4,0.488600
1652,8990,2014,35332,Corona,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.366939
1666,39845,2017,4039,Norwalk,CA,BMW,3,45000,Sedan,1,0.885444
1725,37500,2015,9633,Fairfield,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.981675
1864,22995,2017,21833,Fresno,CA,CHEVROLET,EQUINOXFWD,31000,SUV,1,0.741774
1904,18971,2014,70989,Walnut Creek,CA,BMW,3,45000,Sedan,4,0.421578
1988,10000,2014,28536,San Diego,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163
2098,10995,2005,138100,El Cajon,CA,CHEVROLET,SILVERADO,38200,Truck,13,0.287827
2308,29495,2011,44956,Fontana,CA,GMC,SIERRA,35900,Truck,7,0.821588
2416,12499,2012,108500,Elk Grove,CA,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.403194
2527,19988,2011,96613,Cypress,CA,CHEVROLET,SILVERADO,38200,Truck,7,0.523246
2550,29788,2017,6993,Torrance,CA,BMW,3,45000,Sedan,1,0.661956
2579,17900,2016,6500,Napa,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.563247
...,...,...,...,...,...,...,...,...,...,...,...
361361,33995,2014,64123,Montclair,CA,GMC,SIERRA,35900,Truck,4,0.946936
361411,14995,2012,84025,Downey,CA,HYUNDAI,SANTA,29800,SUV,6,0.503188
361445,14995,2014,35009,Loma Linda,CA,HONDA,ACCORD,27470,Sedan,4,0.545868
361455,15888,2014,22371,Fremont,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.499937
361479,21593,2011,97145,Fairfield,CA,GMC,SIERRA,35900,Truck,7,0.601476
361522,10490,2012,97876,Simi Valley,CA,HONDA,ACCORD,27470,Sedan,6,0.381871
361589,19187,2017,24091,San Mateo,CA,HYUNDAI,SANTA,29800,SUV,1,0.643859
361707,18898,2014,53985,Mountain View,CA,BMW,3,45000,Sedan,4,0.419956
361748,12888,2014,14227,Glendale,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.526041
362157,19500,2004,104367,San Diego,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.510471
362201,11591,2012,71209,San Rafael,CA,HONDA,ACCORD,27470,Sedan,6,0.421951
362241,7495,2007,119685,Los Angeles,CA,BMW,3,45000,Sedan,11,0.166556
362453,9988,2012,101509,San Diego,CA,HONDA,ACCORD,27470,Sedan,6,0.363597
362615,13497,2014,57386,Roseville,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.424701
363128,29998,2014,28293,Vallejo,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.785288
363137,11850,2009,56575,Alhambra,CA,BMW,3,45000,Sedan,9,0.263333
363249,23990,2012,62354,Sacramento,CA,CHEVROLET,SILVERADO,38200,Truck,6,0.628010
363382,32720,2017,6677,San Jose,CA,CHEVROLET,SILVERADO,38200,Truck,1,0.856545
363383,28595,2014,49227,Fontana,CA,JEEP,GRAND,31695,SUV,4,0.902193
363416,8999,2014,92510,Redlands,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.283166
363490,25778,2014,31401,Pleasanton,CA,BMW,3,45000,Sedan,4,0.572844
363746,17897,2015,18357,Escondido,CA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.577323
363773,19995,2014,122986,Newhall,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.523429
363845,19999,2009,84362,Corona,CA,GMC,SIERRA,35900,Truck,9,0.557075
364002,7995,2005,76425,Fair Oaks,CA,BMW,3,45000,Sedan,13,0.177667
364007,18991,2014,76493,Palmdale,CA,HONDA,ACCORD,27470,Sedan,4,0.691336
364028,34016,2016,5,Culver City,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.890471
364440,12995,2005,100800,Fair Oaks,CA,GMC,SIERRA,35900,Truck,13,0.361978
364483,19100,2017,22007,Santa Clara,CA,HYUNDAI,SANTA,29800,SUV,1,0.640940
364750,18999,2008,106504,Corona,CA,CHEVROLET,SILVERADO,38200,Truck,10,0.497356

In [20]:
CAUsedCar['Gdp'] = 0
CAUsedCar['City'] = CAUsedCar['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,car in CAUsedCar.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
    col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp[col].values.tolist()
    if len(Gdp) > 0:
        car['Gdp'] = Gdp[0][0]
        CAUsedCar.at[index,'Gdp'] = float(Gdp[0][0])

In [22]:
CAUsedCar

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,depreciationRate,Gdp
56,23288,2016,10829,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.847761,475416
222,21560,2017,20686,MONTCLAIR,CA,HYUNDAI,SANTA,29800,SUV,1,0.723490,0
255,26995,2011,95921,SIGNAL HILL,CA,FORD,F-1504WD,34695,Truck,7,0.778066,0
353,14300,2007,117924,WOODLAND,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.374346,0
570,11999,2007,184880,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.314110,99460
574,24500,2014,28579,CONCORD,CA,BMW,3,45000,Sedan,4,0.544444,0
604,35988,2017,4108,NORWALK,CA,BMW,3,45000,Sedan,1,0.799733,0
820,19991,2015,36191,PALMDALE,CA,HONDA,ACCORD,27470,Sedan,3,0.727739,0
847,13499,2014,33149,STANTON,CA,HONDA,ACCORD,27470,Sedan,4,0.491409,0
897,11499,2014,28794,WEST COVINA,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469347,0
914,12540,2010,164610,PITTSBURG,CA,FORD,F-1504WD,34695,Truck,8,0.361435,0
974,16560,2016,41823,RICHMOND,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.521082,0
1034,20977,2004,70716,EL CAJON,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.549136,0
1197,13000,2016,47059,TUSTIN,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.409062,0
1224,14783,2015,21383,COLMA,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.465167,0
1506,18197,2016,11215,MONTCLAIR,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.742735,0
1511,13588,2016,44634,GARDENA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.427565,0
1545,21987,2014,41051,EL CAJON,CA,BMW,3,45000,Sedan,4,0.488600,0
1652,8990,2014,35332,CORONA,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.366939,0
1666,39845,2017,4039,NORWALK,CA,BMW,3,45000,Sedan,1,0.885444,0
1725,37500,2015,9633,FAIRFIELD,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.981675,20009
1864,22995,2017,21833,FRESNO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,1,0.741774,42045
1904,18971,2014,70989,WALNUT CREEK,CA,BMW,3,45000,Sedan,4,0.421578,0
1988,10000,2014,28536,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,204914
2098,10995,2005,138100,EL CAJON,CA,CHEVROLET,SILVERADO,38200,Truck,13,0.287827,0
2308,29495,2011,44956,FONTANA,CA,GMC,SIERRA,35900,Truck,7,0.821588,0
2416,12499,2012,108500,ELK GROVE,CA,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.403194,0
2527,19988,2011,96613,CYPRESS,CA,CHEVROLET,SILVERADO,38200,Truck,7,0.523246,0
2550,29788,2017,6993,TORRANCE,CA,BMW,3,45000,Sedan,1,0.661956,0
2579,17900,2016,6500,NAPA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.563247,11105
...,...,...,...,...,...,...,...,...,...,...,...,...
361361,33995,2014,64123,MONTCLAIR,CA,GMC,SIERRA,35900,Truck,4,0.946936,0
361411,14995,2012,84025,DOWNEY,CA,HYUNDAI,SANTA,29800,SUV,6,0.503188,0
361445,14995,2014,35009,LOMA LINDA,CA,HONDA,ACCORD,27470,Sedan,4,0.545868,0
361455,15888,2014,22371,FREMONT,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.499937,0
361479,21593,2011,97145,FAIRFIELD,CA,GMC,SIERRA,35900,Truck,7,0.601476,15523
361522,10490,2012,97876,SIMI VALLEY,CA,HONDA,ACCORD,27470,Sedan,6,0.381871,0
361589,19187,2017,24091,SAN MATEO,CA,HYUNDAI,SANTA,29800,SUV,1,0.643859,0
361707,18898,2014,53985,MOUNTAIN VIEW,CA,BMW,3,45000,Sedan,4,0.419956,0
361748,12888,2014,14227,GLENDALE,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.526041,0
362157,19500,2004,104367,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.510471,154772
362201,11591,2012,71209,SAN RAFAEL,CA,HONDA,ACCORD,27470,Sedan,6,0.421951,0
362241,7495,2007,119685,LOS ANGELES,CA,BMW,3,45000,Sedan,11,0.166556,753117
362453,9988,2012,101509,SAN DIEGO,CA,HONDA,ACCORD,27470,Sedan,6,0.363597,189073
362615,13497,2014,57386,ROSEVILLE,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.424701,109222
363128,29998,2014,28293,VALLEJO,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.785288,20180
363137,11850,2009,56575,ALHAMBRA,CA,BMW,3,45000,Sedan,9,0.263333,0
363249,23990,2012,62354,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,6,0.628010,100242
363382,32720,2017,6677,SAN JOSE,CA,CHEVROLET,SILVERADO,38200,Truck,1,0.856545,275293
363383,28595,2014,49227,FONTANA,CA,JEEP,GRAND,31695,SUV,4,0.902193,0
363416,8999,2014,92510,REDLANDS,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.283166,0
363490,25778,2014,31401,PLEASANTON,CA,BMW,3,45000,Sedan,4,0.572844,0
363746,17897,2015,18357,ESCONDIDO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.577323,0
363773,19995,2014,122986,NEWHALL,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.523429,0
363845,19999,2009,84362,CORONA,CA,GMC,SIERRA,35900,Truck,9,0.557075,0
364002,7995,2005,76425,FAIR OAKS,CA,BMW,3,45000,Sedan,13,0.177667,0
364007,18991,2014,76493,PALMDALE,CA,HONDA,ACCORD,27470,Sedan,4,0.691336,0
364028,34016,2016,5,CULVER CITY,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.890471,0
364440,12995,2005,100800,FAIR OAKS,CA,GMC,SIERRA,35900,Truck,13,0.361978,0
364483,19100,2017,22007,SANTA CLARA,CA,HYUNDAI,SANTA,29800,SUV,1,0.640940,275293
364750,18999,2008,106504,CORONA,CA,CHEVROLET,SILVERADO,38200,Truck,10,0.497356,0

In [23]:
CAUsedCarFinal = CAUsedCar[CAUsedCar['Gdp'] > 0]
CAUsedCarFinal

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,depreciationRate,Gdp
56,23288,2016,10829,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.847761,475416
570,11999,2007,184880,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.314110,99460
1725,37500,2015,9633,FAIRFIELD,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.981675,20009
1864,22995,2017,21833,FRESNO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,1,0.741774,42045
1988,10000,2014,28536,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,204914
2579,17900,2016,6500,NAPA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.563247,11105
3859,20871,2014,50195,VALLEJO,CA,HYUNDAI,SANTA,29800,SUV,4,0.700369,20180
4086,27995,2015,39175,ONTARIO,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.732853,144079
4880,18991,2014,18512,NAPA,CA,HONDA,ACCORD,27470,Sedan,4,0.691336,9547
5727,10000,2014,16445,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,204914
5827,7995,2006,133900,STOCKTON,CA,BMW,3,45000,Sedan,12,0.177667,20322
6169,18500,2014,81356,OXNARD,CA,BMW,3,45000,Sedan,4,0.411111,48733
6493,9999,2008,98084,YUBA CITY,CA,HONDA,ACCORD,27470,Sedan,10,0.363997,4661
6579,25888,2015,37681,HANFORD,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.677696,5090
6825,17000,2015,37485,MODESTO,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.534928,19377
7126,21246,2014,27250,SAN DIEGO,CA,BMW,3,45000,Sedan,4,0.472133,204914
7146,8595,2007,129137,SACRAMENTO,CA,HONDA,ACCORD,27470,Sedan,11,0.312887,99460
7412,20488,2017,521,HAYWARD,CA,NISSAN,ALTIMA2.5,31780,Sedan,1,0.644682,500710
8011,31777,2016,32473,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.831859,222962
8329,22995,2011,89079,HAYWARD,CA,CHEVROLET,SILVERADO,38200,Truck,7,0.601963,340757
9082,16781,2016,41791,FAIRFIELD,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.528037,20389
9207,15700,2015,44183,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.640816,445123
9279,20000,2016,23254,SANTA ROSA,CA,GMC,SIERRA,35900,Truck,2,0.557103,27405
9934,10000,2014,57490,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,413026
10002,18800,2009,111601,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,9,0.492147,172502
10113,20997,2007,188235,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,11,0.549660,99460
10214,27183,2015,20052,MODESTO,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.711597,19377
10671,36400,2015,11221,SAN JOSE,CA,CHEVROLET,SILVERADO,38200,Truck,3,0.952880,237831
10781,11500,2014,38941,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469388,204914
10831,12200,2016,12307,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,2,0.497959,222962
...,...,...,...,...,...,...,...,...,...,...,...,...
352003,20995,2014,38244,SAN JOSE,CA,BMW,3,45000,Sedan,4,0.466556,210690
352911,24995,2016,16960,ONTARIO,CA,GMC,SIERRA,35900,Truck,2,0.696240,150575
353283,13486,2008,85434,SACRAMENTO,CA,BMW,3,45000,Sedan,10,0.299689,98548
354148,31881,2016,10473,SANTA ROSA,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.834581,27405
355023,9940,2014,28302,ONTARIO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.405714,133909
355198,10700,2014,35514,SAN DIEGO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.436735,204914
355790,23968,2017,1651,SAN DIEGO,CA,NISSAN,ALTIMA2.5,31780,Sedan,1,0.754185,231845
355878,13195,2014,52271,BAKERSFIELD,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.538571,39532
355896,13995,2015,71759,SACRAMENTO,CA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.440371,116188
356029,15991,2015,35766,RIVERSIDE,CA,HONDA,ACCORD,27470,Sedan,3,0.582126,144079
356073,16045,2011,44183,THOUSAND OAKS,CA,CHEVROLET,EQUINOXFWD,31000,SUV,7,0.517581,43832
356278,17489,2015,17591,HAYWARD,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.713837,445123
356329,36900,2016,16081,RIVERSIDE,CA,CHEVROLET,SILVERADO,38200,Truck,2,0.965969,150575
356532,15500,2005,111704,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,13,0.405759,167617
356805,10995,2014,60309,ROSEVILLE,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448776,109222
358058,16995,2016,20235,ROSEVILLE,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.534770,121202
358301,11940,2014,21577,ONTARIO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.487347,133909
358599,28842,2014,14315,ROSEVILLE,CA,BMW,3,45000,Sedan,4,0.640933,109222
359121,11000,2014,35923,OAKLAND,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448980,413026
359534,19999,2015,22074,MODESTO,CA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.645129,19377
359917,13000,2016,44792,SANTA ROSA,CA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.409062,27405
361479,21593,2011,97145,FAIRFIELD,CA,GMC,SIERRA,35900,Truck,7,0.601476,15523
362157,19500,2004,104367,SAN DIEGO,CA,CHEVROLET,SILVERADO,38200,Truck,14,0.510471,154772
362241,7495,2007,119685,LOS ANGELES,CA,BMW,3,45000,Sedan,11,0.166556,753117
362453,9988,2012,101509,SAN DIEGO,CA,HONDA,ACCORD,27470,Sedan,6,0.363597,189073
362615,13497,2014,57386,ROSEVILLE,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.424701,109222
363128,29998,2014,28293,VALLEJO,CA,CHEVROLET,SILVERADO,38200,Truck,4,0.785288,20180
363249,23990,2012,62354,SACRAMENTO,CA,CHEVROLET,SILVERADO,38200,Truck,6,0.628010,100242
363382,32720,2017,6677,SAN JOSE,CA,CHEVROLET,SILVERADO,38200,Truck,1,0.856545,275293
364483,19100,2017,22007,SANTA CLARA,CA,HYUNDAI,SANTA,29800,SUV,1,0.640940,275293

In [43]:
used_car_copy.groupby(['City']).size().sort_values(ascending=False)

City
Houston               779
San Antonio           412
Louisville            377
Jacksonville          338
Austin                337
Columbia              337
Raleigh               301
Orlando               299
Colorado Springs      287
Philadelphia          273
Puyallup              265
Dallas                263
Columbus              245
Phoenix               231
Las Vegas             226
Charlotte             221
Miami                 218
Concord               204
Tampa                 200
Indianapolis          200
Madison               191
Fort Worth            181
El Paso               175
Oklahoma City         171
Albuquerque           170
Richmond              169
Tucson                167
Marietta              164
Arlington             157
Springfield           155
                     ...
Lemont                  1
Tamarac                 1
Country Club Hills      1
Lehi                    1
St Petersburg           1
McLean                  1
Mt. Kisco               1
Spicewood               1
Secaucus                1
Seguin                  1
Seminole                1
Seneca Falls            1
Shallotte               1
Moss Point              1
Morrisville             1
Silsbee                 1
Monrovia                1
Beverly Hills           1
Sodus                   1
Christiansburg          1
Cicero                  1
Berwyn                  1
South Lake Tahoe        1
Millville               1
Bergenfield             1
Southborogh             1
Middleburg Heights      1
Medway                  1
Bennettsville           1
Eldridge                1
Length: 2424, dtype: int64

In [ ]:
#elevation = pd.read_csv('cleanData/elevationClean.csv')
state = pd.read_csv('rawData/50_us_states_all_data (1).csv')
state.drop(state.columns[0],axis=1,inplace=True)
state.drop(state.columns[2],axis=1,inplace=True)
finalData = elevation.merge(state, how='inner', left_on='State', right_on='StateName').drop('StateName', axis=1)
finalData = finalData.merge(gdp, how='inner', left_on='State', right_on='GeoName').drop('GeoName', axis=1)
#finalData = used_car.merge(finalData, how='inner', left_on='State', right_on='StateAggre')
finalData = finalData[finalData.ComponentName == 'Gross domestic product (GDP) by state (millions of current dollars)']
finalData = finalData.drop('ComponentName', axis=1)
finalData = finalData.drop('Description', axis=1)
finalData.drop(finalData.columns[0],axis=1,inplace=True)
finalData.drop(finalData.columns[5],axis=1,inplace=True)
#used_car = used_car.merge(car_sales, how='left', left_on='Model', right_on='Model')
#for index,car in car_sales.iterrows():
   # carMake = car['Make'].strip()
    #if used_car['Make'].str.contains(carMake).any():
    #    carMakeModel = car_sales.loc[car_sales['Make'] == carMake]
    #    print('g')
    #    print(carMakeModel)
      #  pat = '|'.join(r"{}".format(x) for x in car['Make'])
     #   used_car['Test3'] = used_car['Make'].str.extract('('+ pat + ')', expand=False)
        #DF = pd.merge(DF1, DF2, left_on= 'Test1', right_on='Test3').drop('Test3', axis=1)
finalData

In [ ]:
WAUsedCar

In [ ]:
bigSeattleUsedCar
bigSeattleUsedCar.groupby(['Make','Model']).size().sort_values(ascending=False)

In [ ]:
#Group by vehicle type
used_car_copy['Model'] = used_car_copy['Model'].str.upper()
used_car_copy['Make'] = used_car_copy['Make'].str.upper()
used_carGrouped = used_car_copy.groupby(['Vehicle Type'])
used_carGrouped.size().sort_values(ascending=False)

In [ ]:
&car_sales['depreciationRate'] = car_sales['4-year resale value']/car_sales['Price']
import matplotlib.pyplot as plt
plt.figure()
plt.hist(car_sales['depreciationRate'])
plt.show()

In [ ]:
plt.figure()
plt.scatter(used_car['Mileage'],used_car['Price'])
plt.show()

In [ ]:
plt.figure()
plt.scatter(2018-used_car['Year'],used_car['Price'])
plt.show()