In [1]:
import pandas as pd;
import numpy as np

In [2]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')

In [3]:
#Select target state
#used_car['State'] = used_car['State'].str.upper()
#used_carGrouped = used_car.groupby('State')
#used_carGrouped.size().sort_values(ascending=False)

In [4]:
#Select taget Model
used_car['Model'] = used_car['Model'].str.upper()
used_car['Make'] = used_car['Make'].str.upper()
used_carGrouped = used_car.groupby(['Make','Model'])
used_carGrouped.size().sort_values(ascending=False)

Make        Model
CHEVROLET   SILVERADO             10868
NISSAN      ALTIMA2.5              5155
GMC         SIERRA                 4914
JEEP        GRAND                  4749
HONDA       ACCORD                 4477
FORD        F-1504WD               3987
JEEP        WRANGLER               3586
HONDA       CIVIC                  3545
BMW         3                      3279
VOLKSWAGEN  JETTA                  3113
HYUNDAI     SANTA                  3005
FORD        FUSIONSE               2973
CHEVROLET   EQUINOXFWD             2780
DODGE       GRAND                  2511
TOYOTA      COROLLALE              2406
            CAMRYSE                2363
FORD        SUPER                  2363
CHEVROLET   MALIBULT               2166
FORD        F-150XLT               1908
CHRYSLER    TOWN                   1838
LAND        ROVER                  1787
DODGE       RAM                    1752
CHEVROLET   CAMAROCOUPE            1695
KIA         SORENTOLX              1673
FORD        EXPLORERXLT            1664
KIA         OPTIMALX               1655
MINI        COOPER                 1636
FORD        ESCAPESE               1621
HYUNDAI     SONATA2.4L             1604
TOYOTA      TUNDRA                 1556
                                  ...
OLDSMOBILE  CUTLASS4DR                1
JEEP        PATRIOTPATRIOT            1
OLDSMOBILE  AURORA4DR                 1
BUICK       VERANO                    1
            VERANO1SV                 1
JEEP        RENEGADEALTITUDE          1
NISSAN      SENTRANISMO               1
JEEP        RENEGADEDESERTHAWK        1
JAGUAR      XFSUPERCHARGED            1
CHRYSLER    300ANNIVERSARY            1
JAGUAR      S-TYPE4.2R                1
CHRYSLER    300C                      1
BUICK       CENTURYCUSTOM             1
ISUZU       I-2802DR                  1
RAM         5500                      1
ISUZU       I-3704WD                  1
            RODEO                     1
RAM         3500LAST                  1
BUICK       ENCORE                    1
CHRYSLER    300MSPECIAL               1
RAM         2500SLT                   1
            1500ST                    1
            1500NEW                   1
ISUZU       VEHICROSS2DR              1
JAGUAR      F-PACE25T                 1
PORSCHE     BOXSTERS                  1
JAGUAR      F-TYPESVR                 1
PORSCHE     BOXSTERBLACK              1
PONTIAC     TORRENT                   1
FORD        ESCAPESPORT               1
Length: 2685, dtype: int64

In [5]:
used_car_copy = used_car.copy()

In [6]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [7]:
used_car_copy['Original Price'] = 0

In [8]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [9]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [10]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [11]:
used_carGrouped = used_car.groupby(['Make','Model'])
used_carGrouped.size().sort_values(ascending=False)

Make        Model
CHEVROLET   SILVERADO             10868
NISSAN      ALTIMA2.5              5155
GMC         SIERRA                 4914
JEEP        GRAND                  4749
HONDA       ACCORD                 4477
FORD        F-1504WD               3987
JEEP        WRANGLER               3586
HONDA       CIVIC                  3545
BMW         3                      3279
VOLKSWAGEN  JETTA                  3113
HYUNDAI     SANTA                  3005
FORD        FUSIONSE               2973
CHEVROLET   EQUINOXFWD             2780
DODGE       GRAND                  2511
TOYOTA      COROLLALE              2406
            CAMRYSE                2363
FORD        SUPER                  2363
CHEVROLET   MALIBULT               2166
FORD        F-150XLT               1908
CHRYSLER    TOWN                   1838
LAND        ROVER                  1787
DODGE       RAM                    1752
CHEVROLET   CAMAROCOUPE            1695
KIA         SORENTOLX              1673
FORD        EXPLORERXLT            1664
KIA         OPTIMALX               1655
MINI        COOPER                 1636
FORD        ESCAPESE               1621
HYUNDAI     SONATA2.4L             1604
TOYOTA      TUNDRA                 1556
                                  ...
OLDSMOBILE  CUTLASS4DR                1
JEEP        PATRIOTPATRIOT            1
OLDSMOBILE  AURORA4DR                 1
BUICK       VERANO                    1
            VERANO1SV                 1
JEEP        RENEGADEALTITUDE          1
NISSAN      SENTRANISMO               1
JEEP        RENEGADEDESERTHAWK        1
JAGUAR      XFSUPERCHARGED            1
CHRYSLER    300ANNIVERSARY            1
JAGUAR      S-TYPE4.2R                1
CHRYSLER    300C                      1
BUICK       CENTURYCUSTOM             1
ISUZU       I-2802DR                  1
RAM         5500                      1
ISUZU       I-3704WD                  1
            RODEO                     1
RAM         3500LAST                  1
BUICK       ENCORE                    1
CHRYSLER    300MSPECIAL               1
RAM         2500SLT                   1
            1500ST                    1
            1500NEW                   1
ISUZU       VEHICROSS2DR              1
JAGUAR      F-PACE25T                 1
PORSCHE     BOXSTERS                  1
JAGUAR      F-TYPESVR                 1
PORSCHE     BOXSTERBLACK              1
PONTIAC     TORRENT                   1
FORD        ESCAPESPORT               1
Length: 2685, dtype: int64

In [31]:
used_car_typeGrouped = used_car_copy.groupby(['Vehicle Type'])
used_car_typeGrouped.size().sort_values(ascending=False)
used_car_copy

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type
4,4,31998,2012,56175,Kennewick,WA,JEEP,WRANGLER,28045,SUV
6,6,14998,2014,39271,Lexington,KY,CHEVROLET,EQUINOXFWD,31000,SUV
14,14,26999,2015,32100,Orlando,FL,GMC,SIERRA,35900,Truck
36,36,16995,2015,30765,Bethlehem,PA,CHEVROLET,EQUINOXFWD,31000,SUV
69,69,33000,2014,31185,Versailles,KY,FORD,F-1504WD,34695,Truck
86,86,21900,2012,79588,Missouri Valley,IA,CHEVROLET,SILVERADO,38200,Truck
101,101,24995,2014,123831,Houston,TX,GMC,SIERRA,35900,Truck
102,102,11695,2011,83405,Lauderdale Lakes,FL,HONDA,ACCORD,27470,Sedan
105,105,15637,2015,57043,San Antonio,TX,HYUNDAI,SANTA,29800,SUV
121,121,51988,2016,14145,Fort Worth,TX,FORD,F-1504WD,34695,Truck
130,130,42772,2016,31780,Lubbock,TX,JEEP,GRAND,31695,SUV
139,139,31952,2013,69045,Pensacola,FL,JEEP,WRANGLER,28045,SUV
151,151,34995,2014,27785,Richmond,VA,JEEP,WRANGLER,28045,SUV
157,157,19995,2006,150409,Mansfield,TX,FORD,SUPER,33150,Truck
166,166,12991,2014,43350,San Antonio,TX,VOLKSWAGEN,JETTA,24500,Sedan
175,175,15634,2013,146327,Seymour,IN,CHEVROLET,SILVERADO,38200,Truck
181,181,28999,2016,23151,Morrow,GA,CHEVROLET,SILVERADO,38200,Truck
194,194,36988,2014,56201,NASHVILLE,TN,JEEP,WRANGLER,28045,SUV
213,213,21200,2015,11819,Elizabeth City,NC,HONDA,ACCORD,27470,Sedan
215,215,28998,2013,4090,Houston,TX,GMC,SIERRA,35900,Truck
219,219,22390,2013,32453,North Miami Beach,FL,JEEP,GRAND,31695,SUV
223,223,50990,2015,31665,Santa Rosa,CA,CHEVROLET,SILVERADO,38200,Truck
229,229,30555,2015,28277,Glendale Heights,IL,JEEP,GRAND,31695,SUV
236,236,48498,2016,30271,San Antonio,TX,FORD,F-1504WD,34695,Truck
241,241,23997,2012,83432,Norwood,MA,CHEVROLET,SILVERADO,38200,Truck
243,243,24044,2010,29582,Clovis,NM,CHEVROLET,SILVERADO,38200,Truck
252,252,11990,2015,15623,Orlando,FL,VOLKSWAGEN,JETTA,24500,Sedan
253,253,47899,2015,68717,Pauls Valley,OK,FORD,SUPER,33150,Truck
261,261,6566,2005,129050,Wauwatosa,WI,JEEP,GRAND,31695,SUV
264,264,18980,2015,52875,Cary,NC,HYUNDAI,SANTA,29800,SUV
...,...,...,...,...,...,...,...,...,...,...
364676,364676,27497,2014,39239,Dallas,TX,JEEP,GRAND,31695,SUV
364680,364680,13950,2015,95099,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
364686,364686,11998,2010,76491,Concord,CA,HONDA,ACCORD,27470,Sedan
364706,364706,9995,2013,74948,Concord,NC,VOLKSWAGEN,JETTA,24500,Sedan
364712,364712,17995,2015,17632,Jefferson City,TN,NISSAN,ALTIMA2.5,31780,Sedan
364713,364713,14998,2014,62930,Cary,NC,CHEVROLET,EQUINOXFWD,31000,SUV
364718,364718,34000,2008,83054,Cullman,AL,CHEVROLET,SILVERADO,38200,Truck
364721,364721,23920,2011,117381,San Antonio,TX,JEEP,WRANGLER,28045,SUV
364740,364740,19990,2006,134404,Lexington,SC,CHEVROLET,SILVERADO,38200,Truck
364742,364742,40744,2016,11416,Gardner,MA,CHEVROLET,SILVERADO,38200,Truck
364759,364759,24500,2012,92521,Middlesboro,KY,FORD,F-1504WD,34695,Truck
364765,364765,19800,2017,5628,Pascagoula,MS,NISSAN,ALTIMA2.5,31780,Sedan
364767,364767,14819,2011,111027,Grapevine,TX,CHEVROLET,SILVERADO,38200,Truck
364779,364779,35240,2014,20726,Newnan,GA,FORD,F-1504WD,34695,Truck
364780,364780,16985,2013,56756,Conway,AR,HONDA,ACCORD,27470,Sedan
364782,364782,33576,2014,23218,Ocala,FL,CHEVROLET,SILVERADO,38200,Truck
364784,364784,10000,2010,83563,Delaware,OH,HONDA,ACCORD,27470,Sedan
364801,364801,28995,2013,38757,Honolulu,HI,JEEP,WRANGLER,28045,SUV
364814,364814,13988,2006,149548,El Dorado,CA,GMC,SIERRA,35900,Truck
364823,364823,19295,2013,49268,Temple,TX,BMW,3,45000,Sedan
364836,364836,21677,2015,67800,Landover,MD,JEEP,GRAND,31695,SUV
364838,364838,29991,2012,75504,Kirkland,WA,GMC,SIERRA,35900,Truck
364845,364845,23988,2014,60676,Burkburnet,TX,CHEVROLET,SILVERADO,38200,Truck
364846,364846,27989,2016,41059,Logan,UT,JEEP,GRAND,31695,SUV
364847,364847,13795,2012,103233,Henrico,VA,HYUNDAI,SANTA,29800,SUV
364851,364851,22988,2017,30150,Leesburg,VA,HYUNDAI,SANTA,29800,SUV
364852,364852,40439,2016,20828,Woburn,MA,CHEVROLET,SILVERADO,38200,Truck
364862,364862,28488,2014,51377,Hermitage,PA,GMC,SIERRA,35900,Truck
364865,364865,22500,2014,35769,Westmont,IL,JEEP,GRAND,31695,SUV
364873,364873,29417,2014,31450,Minnetonka,MN,BMW,3,45000,Sedan

In [13]:
used_car_copy=used_car_copy.dropna()

In [14]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
#gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [15]:
#Select car in top Ten most popular cities rank by sales

Houston = used_car_copy[used_car_copy['City'].str.contains('Houston')]
San_Antonio = used_car_copy[used_car_copy['City'].str.contains('San Antonio')]    
Louisville = used_car_copy[used_car_copy['City'].str.contains('Louisville')] 
Jacksonville = used_car_copy[used_car_copy['City'].str.contains('Jacksonville')] 
Austin = used_car_copy[used_car_copy['City'].str.contains('Austin')]                          
Columbia = used_car_copy[used_car_copy['City'].str.contains('Columbia')]                  
Raleigh = used_car_copy[used_car_copy['City'].str.contains('Raleigh')]                             
Orlando = used_car_copy[used_car_copy['City'].str.contains('Orlando')]   
Colorado = used_car_copy[used_car_copy['City'].str.contains('Colorado')]       
Philadelphia = used_car_copy[used_car_copy['City'].str.contains('Philadelphia')]    
San_Francisco = used_car_copy[used_car_copy['City'].str.contains('San Francisco')]    


Houston.drop(Houston.columns[0],axis=1,inplace=True)
San_Antonio.drop(San_Antonio.columns[0],axis=1,inplace=True)
Louisville.drop(Louisville.columns[0],axis=1,inplace=True)
Jacksonville.drop(Jacksonville.columns[0],axis=1,inplace=True)
Austin.drop(Austin.columns[0],axis=1,inplace=True)
Columbia.drop(Columbia.columns[0],axis=1,inplace=True)
Raleigh.drop(Raleigh.columns[0],axis=1,inplace=True)
Orlando.drop(Orlando.columns[0],axis=1,inplace=True)
Colorado.drop(Colorado.columns[0],axis=1,inplace=True)
Philadelphia.drop(Philadelphia.columns[0],axis=1,inplace=True)
San_Francisco.drop(San_Francisco.columns[0],axis=1,inplace=True)
Top_cities = pd.concat([Houston, San_Antonio, Louisville, Jacksonville, Austin, Columbia, Raleigh, Orlando, Colorado, Philadelphia, San_Francisco])

    
#CAUsedCar = used_car_copy[used_car_copy['State'].str.contains('CA')]

#WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

C:\Users\zyj97\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [16]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type
101,24995,2014,123831,Houston,TX,GMC,SIERRA,35900,Truck
215,28998,2013,4090,Houston,TX,GMC,SIERRA,35900,Truck
280,32773,2014,49406,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
679,14595,2016,38789,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
721,31998,2014,54460,Houston,TX,JEEP,WRANGLER,28045,SUV
994,18995,2014,35138,Houston,TX,HONDA,ACCORD,27470,Sedan
2565,12950,2012,94216,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV
3959,28565,2013,36634,Houston,TX,GMC,SIERRA,35900,Truck
4281,31969,2015,21800,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
5877,39909,2016,5302,Houston,TX,JEEP,GRAND,31695,SUV
6511,33950,2015,23394,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
7279,26345,2013,41428,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
9256,17000,2011,112490,Houston,TX,JEEP,GRAND,31695,SUV
9676,36588,2015,55344,Houston,TX,GMC,SIERRA,35900,Truck
10035,5955,2006,158368,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
10125,13495,2013,84750,Houston,TX,VOLKSWAGEN,JETTA,24500,Sedan
10220,18988,2016,19834,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV
10385,20991,2011,63904,Houston,TX,BMW,3,45000,Sedan
11837,15196,2016,36309,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
11995,12504,2008,59100,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
12512,24980,2014,35971,Houston,TX,BMW,3,45000,Sedan
12926,34995,2014,41450,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
14741,34491,2015,41339,Houston,TX,JEEP,GRAND,31695,SUV
15030,11995,2014,70781,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
15777,42444,2016,7765,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
16164,30678,2015,18427,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
16442,15995,2007,207517,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
16512,19843,2016,16014,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan
17341,43570,2016,21125,Houston,TX,FORD,F-1504WD,34695,Truck
18333,21988,2012,106831,Houston,TX,CHEVROLET,SILVERADO,38200,Truck
...,...,...,...,...,...,...,...,...,...
1427,27997,2015,34086,San Francisco,CA,BMW,3,45000,Sedan
1690,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan
38680,24997,2014,40424,San Francisco,CA,BMW,3,45000,Sedan
44542,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan
47841,22997,2014,18246,San Francisco,CA,BMW,3,45000,Sedan
76879,45997,2017,6599,San Francisco,CA,BMW,3,45000,Sedan
79739,11500,2014,31362,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
90505,23888,2013,37827,San Francisco,CA,BMW,3,45000,Sedan
107718,15481,2012,18224,San Francisco,CA,HONDA,ACCORD,27470,Sedan
111247,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
143634,24997,2014,29156,San Francisco,CA,BMW,3,45000,Sedan
163221,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan
168305,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan
185227,11000,2014,34047,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
209052,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan
215045,23997,2014,31914,San Francisco,CA,BMW,3,45000,Sedan
233534,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
240595,21497,2014,47614,San Francisco,CA,BMW,3,45000,Sedan
245508,22297,2014,24418,San Francisco,CA,BMW,3,45000,Sedan
260569,25997,2015,29635,San Francisco,CA,BMW,3,45000,Sedan
269003,31497,2014,31405,San Francisco,CA,BMW,3,45000,Sedan
283884,10000,2014,12365,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
288754,41997,2017,6374,San Francisco,CA,BMW,3,45000,Sedan
295149,12526,2014,65934,San Francisco,CA,NISSAN,ALTIMA2.5,31780,Sedan
309972,20491,2016,11699,San Francisco,CA,HONDA,ACCORD,27470,Sedan
313583,23497,2014,48564,San Francisco,CA,BMW,3,45000,Sedan
334733,24888,2014,29493,San Francisco,CA,BMW,3,45000,Sedan
343217,14250,2015,12286,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan
352175,34888,2014,47810,San Francisco,CA,BMW,3,45000,Sedan
362498,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan

In [17]:
#remove cars are not made in the year of 2001 to 2017
#CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

Top_cities = Top_cities[(Top_cities['Year'] >2000) & (Top_cities['Year'] <2018)]

In [18]:
#add a column of service time 
Top_cities['serviceTime'] = 2018 - Top_cities['Year']
#get depreciationRate and then drop price and original price
Top_cities['DepreciationRate'] = Top_cities['Price']/Top_cities['Original Price']
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

C:\Users\zyj97\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\zyj97\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [19]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate
101,24995,2014,123831,Houston,TX,GMC,SIERRA,35900,Truck,4,0.696240
215,28998,2013,4090,Houston,TX,GMC,SIERRA,35900,Truck,5,0.807744
280,32773,2014,49406,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.857932
679,14595,2016,38789,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.459251
721,31998,2014,54460,Houston,TX,JEEP,WRANGLER,28045,SUV,4,1.140952
994,18995,2014,35138,Houston,TX,HONDA,ACCORD,27470,Sedan,4,0.691482
2565,12950,2012,94216,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.417742
3959,28565,2013,36634,Houston,TX,GMC,SIERRA,35900,Truck,5,0.795682
4281,31969,2015,21800,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.836885
5877,39909,2016,5302,Houston,TX,JEEP,GRAND,31695,SUV,2,1.259158
6511,33950,2015,23394,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.888743
7279,26345,2013,41428,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.689660
9256,17000,2011,112490,Houston,TX,JEEP,GRAND,31695,SUV,7,0.536362
9676,36588,2015,55344,Houston,TX,GMC,SIERRA,35900,Truck,3,1.019164
10035,5955,2006,158368,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,12,0.155890
10125,13495,2013,84750,Houston,TX,VOLKSWAGEN,JETTA,24500,Sedan,5,0.550816
10220,18988,2016,19834,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV,2,0.612516
10385,20991,2011,63904,Houston,TX,BMW,3,45000,Sedan,7,0.466467
11837,15196,2016,36309,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.478162
11995,12504,2008,59100,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,10,0.327330
12512,24980,2014,35971,Houston,TX,BMW,3,45000,Sedan,4,0.555111
12926,34995,2014,41450,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.916099
14741,34491,2015,41339,Houston,TX,JEEP,GRAND,31695,SUV,3,1.088216
15030,11995,2014,70781,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.377439
15777,42444,2016,7765,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,2,1.111099
16164,30678,2015,18427,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.803089
16442,15995,2007,207517,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,11,0.418717
16512,19843,2016,16014,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.624386
17341,43570,2016,21125,Houston,TX,FORD,F-1504WD,34695,Truck,2,1.255801
18333,21988,2012,106831,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,6,0.575602
...,...,...,...,...,...,...,...,...,...,...,...
1427,27997,2015,34086,San Francisco,CA,BMW,3,45000,Sedan,3,0.622156
1690,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan,9,0.295289
38680,24997,2014,40424,San Francisco,CA,BMW,3,45000,Sedan,4,0.555489
44542,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan,4,0.644378
47841,22997,2014,18246,San Francisco,CA,BMW,3,45000,Sedan,4,0.511044
76879,45997,2017,6599,San Francisco,CA,BMW,3,45000,Sedan,1,1.022156
79739,11500,2014,31362,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469388
90505,23888,2013,37827,San Francisco,CA,BMW,3,45000,Sedan,5,0.530844
107718,15481,2012,18224,San Francisco,CA,HONDA,ACCORD,27470,Sedan,6,0.563560
111247,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224
143634,24997,2014,29156,San Francisco,CA,BMW,3,45000,Sedan,4,0.555489
163221,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.836949
168305,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan,4,0.499933
185227,11000,2014,34047,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448980
209052,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan,5,0.499933
215045,23997,2014,31914,San Francisco,CA,BMW,3,45000,Sedan,4,0.533267
233534,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796
240595,21497,2014,47614,San Francisco,CA,BMW,3,45000,Sedan,4,0.477711
245508,22297,2014,24418,San Francisco,CA,BMW,3,45000,Sedan,4,0.495489
260569,25997,2015,29635,San Francisco,CA,BMW,3,45000,Sedan,3,0.577711
269003,31497,2014,31405,San Francisco,CA,BMW,3,45000,Sedan,4,0.699933
283884,10000,2014,12365,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163
288754,41997,2017,6374,San Francisco,CA,BMW,3,45000,Sedan,1,0.933267
295149,12526,2014,65934,San Francisco,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.394147
309972,20491,2016,11699,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.745941
313583,23497,2014,48564,San Francisco,CA,BMW,3,45000,Sedan,4,0.522156
334733,24888,2014,29493,San Francisco,CA,BMW,3,45000,Sedan,4,0.553067
343217,14250,2015,12286,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.581633
352175,34888,2014,47810,San Francisco,CA,BMW,3,45000,Sedan,4,0.775289
362498,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245

In [20]:
#CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.DepreciationRate > 1.0].index)
Top_cities = Top_cities.drop(Top_cities[Top_cities.DepreciationRate > 1.0].index)

In [21]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate
101,24995,2014,123831,Houston,TX,GMC,SIERRA,35900,Truck,4,0.696240
215,28998,2013,4090,Houston,TX,GMC,SIERRA,35900,Truck,5,0.807744
280,32773,2014,49406,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.857932
679,14595,2016,38789,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.459251
994,18995,2014,35138,Houston,TX,HONDA,ACCORD,27470,Sedan,4,0.691482
2565,12950,2012,94216,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.417742
3959,28565,2013,36634,Houston,TX,GMC,SIERRA,35900,Truck,5,0.795682
4281,31969,2015,21800,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.836885
6511,33950,2015,23394,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.888743
7279,26345,2013,41428,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.689660
9256,17000,2011,112490,Houston,TX,JEEP,GRAND,31695,SUV,7,0.536362
10035,5955,2006,158368,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,12,0.155890
10125,13495,2013,84750,Houston,TX,VOLKSWAGEN,JETTA,24500,Sedan,5,0.550816
10220,18988,2016,19834,Houston,TX,CHEVROLET,EQUINOXFWD,31000,SUV,2,0.612516
10385,20991,2011,63904,Houston,TX,BMW,3,45000,Sedan,7,0.466467
11837,15196,2016,36309,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.478162
11995,12504,2008,59100,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,10,0.327330
12512,24980,2014,35971,Houston,TX,BMW,3,45000,Sedan,4,0.555111
12926,34995,2014,41450,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.916099
15030,11995,2014,70781,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.377439
16164,30678,2015,18427,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.803089
16442,15995,2007,207517,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,11,0.418717
16512,19843,2016,16014,Houston,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.624386
18333,21988,2012,106831,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,6,0.575602
18342,32995,2012,125672,Houston,TX,FORD,SUPER,33150,Truck,6,0.995324
19026,8995,2013,75190,Houston,TX,VOLKSWAGEN,JETTA,24500,Sedan,5,0.367143
19199,14477,2014,68063,Houston,TX,VOLKSWAGEN,JETTA,24500,Sedan,4,0.590898
19287,24996,2014,29145,Houston,TX,BMW,3,45000,Sedan,4,0.555467
20096,34998,2015,33637,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.916178
21445,27488,2015,36162,Houston,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.719581
...,...,...,...,...,...,...,...,...,...,...,...
360772,24888,2011,84081,New Philadelphia,OH,JEEP,WRANGLER,28045,SUV,7,0.887431
1427,27997,2015,34086,San Francisco,CA,BMW,3,45000,Sedan,3,0.622156
1690,13288,2009,71833,San Francisco,CA,BMW,3,45000,Sedan,9,0.295289
38680,24997,2014,40424,San Francisco,CA,BMW,3,45000,Sedan,4,0.555489
44542,28997,2014,25520,San Francisco,CA,BMW,3,45000,Sedan,4,0.644378
47841,22997,2014,18246,San Francisco,CA,BMW,3,45000,Sedan,4,0.511044
79739,11500,2014,31362,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469388
90505,23888,2013,37827,San Francisco,CA,BMW,3,45000,Sedan,5,0.530844
107718,15481,2012,18224,San Francisco,CA,HONDA,ACCORD,27470,Sedan,6,0.563560
111247,11300,2014,25471,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224
143634,24997,2014,29156,San Francisco,CA,BMW,3,45000,Sedan,4,0.555489
163221,22991,2017,11572,San Francisco,CA,HONDA,ACCORD,27470,Sedan,1,0.836949
168305,22497,2014,38119,San Francisco,CA,BMW,3,45000,Sedan,4,0.499933
185227,11000,2014,34047,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448980
209052,22497,2013,36130,San Francisco,CA,BMW,3,45000,Sedan,5,0.499933
215045,23997,2014,31914,San Francisco,CA,BMW,3,45000,Sedan,4,0.533267
233534,12000,2015,16197,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796
240595,21497,2014,47614,San Francisco,CA,BMW,3,45000,Sedan,4,0.477711
245508,22297,2014,24418,San Francisco,CA,BMW,3,45000,Sedan,4,0.495489
260569,25997,2015,29635,San Francisco,CA,BMW,3,45000,Sedan,3,0.577711
269003,31497,2014,31405,San Francisco,CA,BMW,3,45000,Sedan,4,0.699933
283884,10000,2014,12365,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163
288754,41997,2017,6374,San Francisco,CA,BMW,3,45000,Sedan,1,0.933267
295149,12526,2014,65934,San Francisco,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.394147
309972,20491,2016,11699,San Francisco,CA,HONDA,ACCORD,27470,Sedan,2,0.745941
313583,23497,2014,48564,San Francisco,CA,BMW,3,45000,Sedan,4,0.522156
334733,24888,2014,29493,San Francisco,CA,BMW,3,45000,Sedan,4,0.553067
343217,14250,2015,12286,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.581633
352175,34888,2014,47810,San Francisco,CA,BMW,3,45000,Sedan,4,0.775289
362498,10982,2014,60979,San Francisco,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245

In [22]:
#CAUsedCar['Gdp'] = 0
#CAUsedCar['City'] = CAUsedCar['City'].str.upper()
#gdp['GeoName'] = gdp['GeoName'].str.upper()
#for index,car in CAUsedCar.iterrows():
   # allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
   # col = [col for col in allGdp.columns if str(car['Year']) in col]
   # Gdp = allGdp[col].values.tolist()
   # if len(Gdp) > 0:
       # car['Gdp'] = Gdp[0][0]
       # CAUsedCar.at[index,'Gdp'] = float(Gdp[0][0])
        
Top_cities['Gdp'] = 0
Top_cities['City'] = Top_cities['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,car in Top_cities.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(car['City']))]
    #col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp['2017'].values.tolist()
    if len(Gdp) > 0:
        car['Gdp'] = Gdp[0]
        Top_cities.at[index,'Gdp'] = float(Gdp[0])

In [23]:
Top_cities

,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
101,24995,2014,123831,HOUSTON,TX,GMC,SIERRA,35900,Truck,4,0.696240,490074
215,28998,2013,4090,HOUSTON,TX,GMC,SIERRA,35900,Truck,5,0.807744,490074
280,32773,2014,49406,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.857932,490074
679,14595,2016,38789,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.459251,490074
994,18995,2014,35138,HOUSTON,TX,HONDA,ACCORD,27470,Sedan,4,0.691482,490074
2565,12950,2012,94216,HOUSTON,TX,CHEVROLET,EQUINOXFWD,31000,SUV,6,0.417742,490074
3959,28565,2013,36634,HOUSTON,TX,GMC,SIERRA,35900,Truck,5,0.795682,490074
4281,31969,2015,21800,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.836885,490074
6511,33950,2015,23394,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.888743,490074
7279,26345,2013,41428,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.689660,490074
9256,17000,2011,112490,HOUSTON,TX,JEEP,GRAND,31695,SUV,7,0.536362,490074
10035,5955,2006,158368,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,12,0.155890,490074
10125,13495,2013,84750,HOUSTON,TX,VOLKSWAGEN,JETTA,24500,Sedan,5,0.550816,490074
10220,18988,2016,19834,HOUSTON,TX,CHEVROLET,EQUINOXFWD,31000,SUV,2,0.612516,490074
10385,20991,2011,63904,HOUSTON,TX,BMW,3,45000,Sedan,7,0.466467,490074
11837,15196,2016,36309,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.478162,490074
11995,12504,2008,59100,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,10,0.327330,490074
12512,24980,2014,35971,HOUSTON,TX,BMW,3,45000,Sedan,4,0.555111,490074
12926,34995,2014,41450,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.916099,490074
15030,11995,2014,70781,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,4,0.377439,490074
16164,30678,2015,18427,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.803089,490074
16442,15995,2007,207517,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,11,0.418717,490074
16512,19843,2016,16014,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,2,0.624386,490074
18333,21988,2012,106831,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,6,0.575602,490074
18342,32995,2012,125672,HOUSTON,TX,FORD,SUPER,33150,Truck,6,0.995324,490074
19026,8995,2013,75190,HOUSTON,TX,VOLKSWAGEN,JETTA,24500,Sedan,5,0.367143,490074
19199,14477,2014,68063,HOUSTON,TX,VOLKSWAGEN,JETTA,24500,Sedan,4,0.590898,490074
19287,24996,2014,29145,HOUSTON,TX,BMW,3,45000,Sedan,4,0.555467,490074
20096,34998,2015,33637,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.916178,490074
21445,27488,2015,36162,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,3,0.719581,490074
...,...,...,...,...,...,...,...,...,...,...,...,...
360772,24888,2011,84081,NEW PHILADELPHIA,OH,JEEP,WRANGLER,28045,SUV,7,0.887431,0
1427,27997,2015,34086,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.622156,500710
1690,13288,2009,71833,SAN FRANCISCO,CA,BMW,3,45000,Sedan,9,0.295289,500710
38680,24997,2014,40424,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.555489,500710
44542,28997,2014,25520,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.644378,500710
47841,22997,2014,18246,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.511044,500710
79739,11500,2014,31362,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.469388,500710
90505,23888,2013,37827,SAN FRANCISCO,CA,BMW,3,45000,Sedan,5,0.530844,500710
107718,15481,2012,18224,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,6,0.563560,500710
111247,11300,2014,25471,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.461224,500710
143634,24997,2014,29156,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.555489,500710
163221,22991,2017,11572,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,1,0.836949,500710
168305,22497,2014,38119,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.499933,500710
185227,11000,2014,34047,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448980,500710
209052,22497,2013,36130,SAN FRANCISCO,CA,BMW,3,45000,Sedan,5,0.499933,500710
215045,23997,2014,31914,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.533267,500710
233534,12000,2015,16197,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.489796,500710
240595,21497,2014,47614,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.477711,500710
245508,22297,2014,24418,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.495489,500710
260569,25997,2015,29635,SAN FRANCISCO,CA,BMW,3,45000,Sedan,3,0.577711,500710
269003,31497,2014,31405,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.699933,500710
283884,10000,2014,12365,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.408163,500710
288754,41997,2017,6374,SAN FRANCISCO,CA,BMW,3,45000,Sedan,1,0.933267,500710
295149,12526,2014,65934,SAN FRANCISCO,CA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.394147,500710
309972,20491,2016,11699,SAN FRANCISCO,CA,HONDA,ACCORD,27470,Sedan,2,0.745941,500710
313583,23497,2014,48564,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.522156,500710
334733,24888,2014,29493,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.553067,500710
343217,14250,2015,12286,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.581633,500710
352175,34888,2014,47810,SAN FRANCISCO,CA,BMW,3,45000,Sedan,4,0.775289,500710
362498,10982,2014,60979,SAN FRANCISCO,CA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.448245,500710

In [24]:
population = pd.read_csv('cityPopulation.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xca in position 15: unexpected end of data

In [ ]:
Top_cities.describe()

In [ ]:
Top_cities.Make.value_counts()

In [ ]:
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

In [ ]:
lm = sm.OLS(Top_cities.DepreciationRate, sm.add_constant(Top_cities.Mileage)).fit()

In [ ]:
print(lm.summary())

In [ ]:
plt.scatter(Top_cities.Mileage,Top_cities.DepreciationRate)
plt.plot(Top_cities.Mileage, lm.predict(), color = 'black', c = 'DarkBlue')
plt.show()