In [1]:
import pandas as pd
import numpy as np

In [2]:
used_car = pd.read_csv('cleanData/used_car_clean.csv')
used_car

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model
0,0,14936,2011,125958,Antioch,IL,Ford,Explorer4WD
1,1,16895,2015,15529,Coon Rapids,MN,Chevrolet,Malibu2LT
2,2,18998,2008,102054,Houston,TX,Chevrolet,Avalanche4WD
3,3,16974,2016,37617,Dinuba,CA,Chevrolet,Malibu
4,4,31998,2012,56175,Kennewick,WA,Jeep,Wrangler
5,5,33990,2017,14003,Selma,TX,Buick,EnclaveLeather
6,6,14998,2014,39271,Lexington,KY,Chevrolet,EquinoxFWD
7,7,7799,2014,94669,Matthews,NC,Hyundai,Elantra
8,8,18900,2017,16180,Salt Lake City,UT,Dodge,JourneySXT
9,9,10500,2005,120231,Billings,MT,GMC,Yukon
10,10,14950,2013,23789,Bellingham,WA,Volkswagen,Golf2.5L
11,11,28988,2014,44429,Henderson,NV,Mercedes-Benz,E-ClassE350
12,12,28646,2016,7898,Cranbury,NJ,Acura,TLXFWD
13,13,11807,2015,44440,Hyattsville,MD,Chrysler,200Limited
14,14,26999,2015,32100,Orlando,FL,GMC,Sierra
15,15,19200,2016,33494,Columbus,OH,Nissan,RogueSV
16,16,25999,2014,46920,Saint Louis Park,MN,BMW,X3xDrive28i
17,17,14420,2014,30320,Fort Wayne,IN,Toyota,CorollaLE
18,18,23416,2014,34557,Birmingham,AL,Cadillac,XTSLuxury
19,19,19990,2017,967,Anniston,AL,Dodge,JourneySE
20,20,19989,2015,35020,Lincoln,NE,Toyota,RAV44X4
21,21,9995,2010,144896,Duluth,GA,INFINITI,G37
22,22,33424,2014,15079,Metairie,LA,Toyota,FJ
23,23,11872,2013,39785,Chicopee,MA,Volkswagen,Passat2.5L
24,24,9912,2011,127480,Bellevue,NE,Kia,Sorento2WD
25,25,31000,2012,63470,Tulsa,OK,Toyota,TundraLimited
26,26,15950,2006,71637,Avon,MA,Land,Rover
27,27,8995,2008,131213,Howell,NJ,Honda,CR-V4WD
28,28,21978,2016,38415,Del City,OK,Nissan,FrontierCrew
29,29,22500,2017,26186,Maitland,FL,Dodge,JourneyCrossroad
...,...,...,...,...,...,...,...,...
364845,364845,23988,2014,60676,Burkburnet,TX,Chevrolet,Silverado
364846,364846,27989,2016,41059,Logan,UT,Jeep,Grand
364847,364847,13795,2012,103233,Henrico,VA,Hyundai,Santa
364848,364848,24599,2014,60649,Golden,CO,GMC,AcadiaFWD
364849,364849,26499,2016,21715,Elk Grove,CA,Nissan,370ZCoupe
364850,364850,17750,2016,4423,Industry,CA,Volkswagen,Beetle
364851,364851,22988,2017,30150,Leesburg,VA,Hyundai,Santa
364852,364852,40439,2016,20828,Woburn,MA,Chevrolet,Silverado
364853,364853,16000,2015,45905,Frisco,TX,Honda,CivicEX
364854,364854,17940,2015,13456,Columbia,SC,Hyundai,SonataSE
364855,364855,7221,2009,85938,N Lauderdale,FL,Toyota,Camry4dr
364856,364856,26988,2016,16402,Woburn,MA,Nissan,MaximaSL
364857,364857,15398,2014,65263,Saint Charles,IL,GMC,TerrainAWD
364858,364858,17944,2016,29372,Henderson,KY,Buick,VeranoSport
364859,364859,18524,2015,35183,Strongsville,OH,Mazda,Mazda6Grand
364860,364860,13672,2014,51478,Hanford,CA,Ford,FusionSE
364861,364861,18981,2016,19361,Concord,NC,Kia,Soul!
364862,364862,28488,2014,51377,Hermitage,PA,GMC,Sierra
364863,364863,9934,2013,61445,Auburn,WA,Hyundai,ElantraGLS
364864,364864,24993,2017,5435,Flagstaff,AZ,Toyota,Tacoma4WD
364865,364865,22500,2014,35769,Westmont,IL,Jeep,Grand
364866,364866,12998,2014,35990,East Petersburg,PA,Hyundai,Elantra4dr
364867,364867,24896,2014,30073,Raleigh,NC,Jeep,WranglerSport
364868,364868,25996,2015,30484,North Miami,FL,Honda,PilotEX-L
364869,364869,21622,2011,98471,Oklahoma City,OK,Chevrolet,Avalanche4WD
364870,364870,15990,2015,15545,Boardman,OH,Kia,SoulAutomatic
364871,364871,17000,2010,103377,Branford,CT,Toyota,TacomaBase
364872,364872,12950,2014,35273,Gladstone,OR,Volkswagen,Passat4dr
364873,364873,29417,2014,31450,Minnetonka,MN,BMW,3
364874,364874,9491,2007,114434,Clive,IA,Acura,TSX4dr

In [3]:
used_car_copy = used_car.copy()
used_car_copy['Make'] = used_car_copy['Make'].str.upper()
used_car_copy['Model'] = used_car_copy['Model'].str.upper()

In [4]:
searchForMake = ['JEEP', 'CHEVROLET','HYUNDAI','NISSAN','HONDA','BMW','VOLKSWAGEN','GMC','FORD']
used_car_copy = used_car_copy[used_car_copy.Make.str.contains('|'.join(searchForMake))]
searchForModel = ['GRAND', 'WRANGLER','EQUINOXFWD','SANTA','ALTIMA2.5','ACCORD','3','JETTA','SILVERADO','SIERRA','F-1504WD','SUPER']
used_car_copy = used_car_copy[used_car_copy.Model.str.contains('|'.join(searchForModel))]

In [5]:
used_car_copy['Original Price'] = 0

In [6]:
#Add Original Price and Vehicle type to SUV
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Original Price'] = 31695
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'GRAND'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Original Price'] = 28045
used_car_copy.loc[(used_car_copy.Make == 'JEEP') & (used_car_copy.Model == 'WRANGLER'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Original Price'] = 31000
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'EQUINOXFWD'), 'Vehicle Type'] = 'SUV'
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Original Price'] = 29800
used_car_copy.loc[(used_car_copy.Make == 'HYUNDAI') & (used_car_copy.Model == 'SANTA'), 'Vehicle Type'] = 'SUV'

In [7]:
#Add Original Price and Vehicle type to Sedan
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Original Price'] = 31780
used_car_copy.loc[(used_car_copy.Make == 'NISSAN') & (used_car_copy.Model == 'ALTIMA2.5'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Original Price'] = 27470
used_car_copy.loc[(used_car_copy.Make == 'HONDA') & (used_car_copy.Model == 'ACCORD'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Original Price'] = 45000
used_car_copy.loc[(used_car_copy.Make == 'BMW') & (used_car_copy.Model == '3'), 'Vehicle Type'] = 'Sedan'
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Original Price'] = 24500
used_car_copy.loc[(used_car_copy.Make == 'VOLKSWAGEN') & (used_car_copy.Model == 'JETTA'), 'Vehicle Type'] = 'Sedan'

In [8]:
#Add Original Price and Vehicle type to Truck
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Original Price'] = 38200
used_car_copy.loc[(used_car_copy.Make == 'CHEVROLET') & (used_car_copy.Model == 'SILVERADO'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Original Price'] = 35900
used_car_copy.loc[(used_car_copy.Make == 'GMC') & (used_car_copy.Model == 'SIERRA'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Original Price'] = 34695
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'F-1504WD'), 'Vehicle Type'] = 'Truck'
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Original Price'] = 33150
used_car_copy.loc[(used_car_copy.Make == 'FORD') & (used_car_copy.Model == 'SUPER'), 'Vehicle Type'] = 'Truck'

In [9]:
used_car_copy=used_car_copy.dropna()

In [10]:
gdp = pd.read_csv('cleanData/MAGDP2_2001_2017_ALL_AREAS.csv')
#gdp = gdp[gdp['GeoName'].str.contains('CA', na = False)]
gdp = gdp[gdp['Description'].str.contains('All industry total', na=False)].drop('GeoFIPS', axis=1).drop('Region', axis=1).drop('TableName', axis=1).drop('ComponentName', axis=1).drop('Unit', axis=1).drop('IndustryId', axis=1).drop('IndustryClassification', axis=1).drop('Description', axis=1)

In [11]:
#Select car in top Ten most popular cities rank by sales

#Houston = used_car_copy[used_car_copy['City'].str.contains('Houston')]
#San_Antonio = used_car_copy[used_car_copy['City'].str.contains('San Antonio')]    
#Louisville = used_car_copy[used_car_copy['City'].str.contains('Louisville')] 
#Jacksonville = used_car_copy[used_car_copy['City'].str.contains('Jacksonville')] 
#Austin = used_car_copy[used_car_copy['City'].str.contains('Austin')]                          
#Columbia = used_car_copy[used_car_copy['City'].str.contains('Columbia')]                  
#Raleigh = used_car_copy[used_car_copy['City'].str.contains('Raleigh')]                             
#Orlando = used_car_copy[used_car_copy['City'].str.contains('Orlando')]   
#Colorado = used_car_copy[used_car_copy['City'].str.contains('Colorado')]       
#Philadelphia = used_car_copy[used_car_copy['City'].str.contains('Philadelphia')]    
#San_Francisco = used_car_copy[used_car_copy['City'].str.contains('San Francisco')]    


#Houston.drop(Houston.columns[0],axis=1,inplace=True)
#San_Antonio.drop(San_Antonio.columns[0],axis=1,inplace=True)
#Louisville.drop(Louisville.columns[0],axis=1,inplace=True)
#Jacksonville.drop(Jacksonville.columns[0],axis=1,inplace=True)
#Austin.drop(Austin.columns[0],axis=1,inplace=True)
#Columbia.drop(Columbia.columns[0],axis=1,inplace=True)
#Raleigh.drop(Raleigh.columns[0],axis=1,inplace=True)
#Orlando.drop(Orlando.columns[0],axis=1,inplace=True)
#Colorado.drop(Colorado.columns[0],axis=1,inplace=True)
#Philadelphia.drop(Philadelphia.columns[0],axis=1,inplace=True)
#San_Francisco.drop(San_Francisco.columns[0],axis=1,inplace=True)
#Top_cities = pd.concat([Houston, San_Antonio, Louisville, Jacksonville, Austin, Columbia, Raleigh, Orlando, Colorado, Philadelphia, San_Francisco])

    
#CAUsedCar = used_car_copy[used_car_copy['State'].str.contains('CA')]

#WAUsedCar.drop(WAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)

#WAUsedCar['City'] = WAUsedCar['City'].str.upper()
#WAUsedCarGrouped = WAUsedCar.groupby('City')
#WAUsedCarGrouped.size().sort_values(ascending=False)

In [12]:
#remove cars are not made in the year of 2001 to 2017
#CAUsedCar = CAUsedCar[(CAUsedCar['Year'] >2000) & (CAUsedCar['Year'] <2018)]

#Top_cities = Top_cities[(Top_cities['Year'] >2000) & (Top_cities['Year'] <2018)]

In [36]:
#add a column of service time 
car = used_car_copy
car['serviceTime'] = 2018 - car['Year']
import math
#get depreciationRate and then drop price and original price
car['DepreciationRate'] = 1-(car['Price']/car['Original Price'])**(1/car['serviceTime'])
#CAUsedCar.drop(CAUsedCar.columns[0],axis=1,inplace=True)
#CAUsedCar.drop(CAUsedCar.columns[6],axis=1,inplace=True)
#drop make and model column
#CAUsedCar.drop(CAUsedCar.columns[4],axis=1,inplace=True)

In [37]:
#CAUsedCar = CAUsedCar.drop(CAUsedCar[CAUsedCar.DepreciationRate > 1.0].index)
car = car[car['DepreciationRate'] <= 1.0]
car = car[car['DepreciationRate'] > 0]

In [38]:
car['Gdp'] = 0
car['City'] = car['City'].str.upper()
gdp['GeoName'] = gdp['GeoName'].str.upper()
for index,aCar in car.iterrows():
    allGdp = gdp[(gdp['GeoName'].str.contains(aCar['City']))]
    #col = [col for col in allGdp.columns if str(car['Year']) in col]
    Gdp = allGdp['2017'].values.tolist()
    if len(Gdp) > 0:
        aCar['Gdp'] = Gdp[0]
        car.at[index,'Gdp'] = float(Gdp[0])

In [40]:
car[car['City'] == 'SEATTLE']

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
2237,2237,23994,2014,60483,SEATTLE,WA,FORD,F-1504WD,34695,Truck,4,0.088075,356572
2396,2396,13800,2015,50859,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.242746,356572
17016,17016,28992,2015,74015,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,3,0.087839,356572
22221,22221,28975,2016,27954,SEATTLE,WA,JEEP,GRAND,31695,SUV,2,0.043871,356572
35011,35011,15491,2014,20884,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.108280,356572
43354,43354,20863,2009,85500,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,9,0.064998,356572
52191,52191,17988,2015,39339,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.097863,356572
55481,55481,14991,2015,25137,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.151038,356572
55619,55619,12588,2016,44868,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.370637,356572
55777,55777,11775,2014,32024,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.219808,356572
59954,59954,15491,2014,48312,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.133427,356572
78811,78811,22000,2009,101548,SEATTLE,WA,GMC,SIERRA,35900,Truck,9,0.052957,356572
79337,79337,22449,2006,191129,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,12,0.043332,356572
79416,79416,21000,2013,68928,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,5,0.112780,356572
82806,82806,12975,2014,43558,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.200647,356572
91793,91793,15881,2013,23842,SEATTLE,WA,CHEVROLET,EQUINOXFWD,31000,SUV,5,0.125211,356572
92988,92988,16994,2014,55391,SEATTLE,WA,HYUNDAI,SANTA,29800,SUV,4,0.131000,356572
96381,96381,23998,2012,63107,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,6,0.074552,356572
96539,96539,29881,2006,62427,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,12,0.020260,356572
96683,96683,12600,2014,97648,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.177041,356572
103948,103948,7994,2011,62287,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,7,0.147854,356572
108848,108848,9099,2013,63155,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,5,0.179714,356572
118932,118932,8321,2008,97052,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,10,0.112575,356572
122808,122808,18809,2014,46360,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.090345,356572
132556,132556,23499,2009,75000,SEATTLE,WA,FORD,F-1504WD,34695,Truck,9,0.042369,356572
136316,136316,9975,2014,22443,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.201202,356572
136687,136687,23990,2016,29930,SEATTLE,WA,BMW,3,45000,Sedan,2,0.269855,356572
146600,146600,7995,2007,120022,SEATTLE,WA,BMW,3,45000,Sedan,11,0.145362,356572
148058,148058,15000,2015,45838,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.221403,356572
152581,152581,28995,2014,20412,SEATTLE,WA,BMW,3,45000,Sedan,4,0.104063,356572
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201956,201956,23975,2011,76089,SEATTLE,WA,JEEP,GRAND,31695,SUV,7,0.039094,356572
216586,216586,11975,2015,45550,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.277717,356572
224632,224632,22995,2012,5641,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,6,0.081114,356572
225810,225810,24995,2014,28486,SEATTLE,WA,BMW,3,45000,Sedan,4,0.136703,356572
228977,228977,20995,2014,22291,SEATTLE,WA,BMW,3,45000,Sedan,4,0.173532,356572
238478,238478,13975,2015,46034,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.239558,356572
239493,239493,13900,2014,52510,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.132115,356572
255395,255395,10000,2010,130633,SEATTLE,WA,BMW,3,45000,Sedan,8,0.171393,356572
257169,257169,22875,2014,69288,SEATTLE,WA,JEEP,GRAND,31695,SUV,4,0.078294,356572
258209,258209,22299,2014,28520,SEATTLE,WA,BMW,3,45000,Sedan,4,0.160988,356572
260266,260266,31995,2014,29329,SEATTLE,WA,BMW,3,45000,Sedan,4,0.081736,356572
263660,263660,5000,2005,156501,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,13,0.115072,356572
268974,268974,29975,2014,28162,SEATTLE,WA,JEEP,GRAND,31695,SUV,4,0.013852,356572
274059,274059,20400,2016,23195,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,2,0.138241,356572
277188,277188,13499,2015,24000,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.248292,356572
278397,278397,13995,2011,91071,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,7,0.133634,356572
300340,300340,12491,2014,37000,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.154998,356572
304551,304551,21994,2011,74966,SEATTLE,WA,JEEP,GRAND,31695,SUV,7,0.050860,356572
306202,306202,29995,2014,27687,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,4,0.058660,356572
320685,320685,27888,2014,26084,SEATTLE,WA,BMW,3,45000,Sedan,4,0.112739,356572
321208,321208,27995,2015,37683,SEATTLE,WA,FORD,F-1504WD,34695,Truck,3,0.069025,356572
325098,325098,22200,2015,30936,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,3,0.068539,356572
325450,325450,26881,2011,56456,SEATTLE,WA,FORD,F-1504WD,34695,Truck,7,0.035797,356572
326059,326059,27995,2009,142914,SEATTLE,WA,FORD,SUPER,33150,Truck,9,0.018604,356572
336492,336492,30995,2012,32935,SEATTLE,WA,FORD,F-1504WD,34695,Truck,6,0.018619,356572
339628,339628,24995,2011,77208,SEATTLE,WA,FORD,F-1504WD,34695,Truck,7,0.045765,356572
346698,346698,19918,2014,28546,SEATTLE,WA,BMW,3,45000,Sedan,4,0.184342,356572
347661,347661,15975,2014,49411,SEATTLE,WA,BMW,3,45000,Sedan,4,0.228107,356572
354532,354532,3269,2006,203734,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,12,0.154519,356572
354965,354965,19899,2011,75001,SEATTLE,WA,GMC,SIERRA,35900,Truck,7,0.080840,356572

In [31]:
population = pd.read_csv('cleanData/populationClean.csv')
stateAbb = pd.read_csv('rawData/50_us_states_all_data (1).csv')
#population = pd.read_csv('cityPopulation.csv',encoding='latin-1')
#population
population = pd.merge(population, stateAbb, left_on='STNAME', right_on='StateName')
population = population[['NAME','POPESTIMATE2017','StateAggre']]
population['NAME'] = population['NAME'].str.upper()
population = population.rename(columns={'NAME': 'City'})
population = population.rename(columns={'POPESTIMATE2017': 'Population'})
population = population.rename(columns={'StateAggre': 'State'})
population = population.drop_duplicates()

In [42]:
car[car['City'] == 'SEATTLE']

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
2237,2237,23994,2014,60483,SEATTLE,WA,FORD,F-1504WD,34695,Truck,4,0.088075,356572
2396,2396,13800,2015,50859,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.242746,356572
17016,17016,28992,2015,74015,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,3,0.087839,356572
22221,22221,28975,2016,27954,SEATTLE,WA,JEEP,GRAND,31695,SUV,2,0.043871,356572
35011,35011,15491,2014,20884,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.108280,356572
43354,43354,20863,2009,85500,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,9,0.064998,356572
52191,52191,17988,2015,39339,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.097863,356572
55481,55481,14991,2015,25137,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,3,0.151038,356572
55619,55619,12588,2016,44868,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,2,0.370637,356572
55777,55777,11775,2014,32024,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.219808,356572
59954,59954,15491,2014,48312,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.133427,356572
78811,78811,22000,2009,101548,SEATTLE,WA,GMC,SIERRA,35900,Truck,9,0.052957,356572
79337,79337,22449,2006,191129,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,12,0.043332,356572
79416,79416,21000,2013,68928,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,5,0.112780,356572
82806,82806,12975,2014,43558,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,4,0.200647,356572
91793,91793,15881,2013,23842,SEATTLE,WA,CHEVROLET,EQUINOXFWD,31000,SUV,5,0.125211,356572
92988,92988,16994,2014,55391,SEATTLE,WA,HYUNDAI,SANTA,29800,SUV,4,0.131000,356572
96381,96381,23998,2012,63107,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,6,0.074552,356572
96539,96539,29881,2006,62427,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,12,0.020260,356572
96683,96683,12600,2014,97648,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.177041,356572
103948,103948,7994,2011,62287,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,7,0.147854,356572
108848,108848,9099,2013,63155,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,5,0.179714,356572
118932,118932,8321,2008,97052,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,10,0.112575,356572
122808,122808,18809,2014,46360,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,4,0.090345,356572
132556,132556,23499,2009,75000,SEATTLE,WA,FORD,F-1504WD,34695,Truck,9,0.042369,356572
136316,136316,9975,2014,22443,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.201202,356572
136687,136687,23990,2016,29930,SEATTLE,WA,BMW,3,45000,Sedan,2,0.269855,356572
146600,146600,7995,2007,120022,SEATTLE,WA,BMW,3,45000,Sedan,11,0.145362,356572
148058,148058,15000,2015,45838,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.221403,356572
152581,152581,28995,2014,20412,SEATTLE,WA,BMW,3,45000,Sedan,4,0.104063,356572
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201956,201956,23975,2011,76089,SEATTLE,WA,JEEP,GRAND,31695,SUV,7,0.039094,356572
216586,216586,11975,2015,45550,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.277717,356572
224632,224632,22995,2012,5641,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,6,0.081114,356572
225810,225810,24995,2014,28486,SEATTLE,WA,BMW,3,45000,Sedan,4,0.136703,356572
228977,228977,20995,2014,22291,SEATTLE,WA,BMW,3,45000,Sedan,4,0.173532,356572
238478,238478,13975,2015,46034,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.239558,356572
239493,239493,13900,2014,52510,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.132115,356572
255395,255395,10000,2010,130633,SEATTLE,WA,BMW,3,45000,Sedan,8,0.171393,356572
257169,257169,22875,2014,69288,SEATTLE,WA,JEEP,GRAND,31695,SUV,4,0.078294,356572
258209,258209,22299,2014,28520,SEATTLE,WA,BMW,3,45000,Sedan,4,0.160988,356572
260266,260266,31995,2014,29329,SEATTLE,WA,BMW,3,45000,Sedan,4,0.081736,356572
263660,263660,5000,2005,156501,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,13,0.115072,356572
268974,268974,29975,2014,28162,SEATTLE,WA,JEEP,GRAND,31695,SUV,4,0.013852,356572
274059,274059,20400,2016,23195,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,2,0.138241,356572
277188,277188,13499,2015,24000,SEATTLE,WA,NISSAN,ALTIMA2.5,31780,Sedan,3,0.248292,356572
278397,278397,13995,2011,91071,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,7,0.133634,356572
300340,300340,12491,2014,37000,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,4,0.154998,356572
304551,304551,21994,2011,74966,SEATTLE,WA,JEEP,GRAND,31695,SUV,7,0.050860,356572
306202,306202,29995,2014,27687,SEATTLE,WA,CHEVROLET,SILVERADO,38200,Truck,4,0.058660,356572
320685,320685,27888,2014,26084,SEATTLE,WA,BMW,3,45000,Sedan,4,0.112739,356572
321208,321208,27995,2015,37683,SEATTLE,WA,FORD,F-1504WD,34695,Truck,3,0.069025,356572
325098,325098,22200,2015,30936,SEATTLE,WA,HONDA,ACCORD,27470,Sedan,3,0.068539,356572
325450,325450,26881,2011,56456,SEATTLE,WA,FORD,F-1504WD,34695,Truck,7,0.035797,356572
326059,326059,27995,2009,142914,SEATTLE,WA,FORD,SUPER,33150,Truck,9,0.018604,356572
336492,336492,30995,2012,32935,SEATTLE,WA,FORD,F-1504WD,34695,Truck,6,0.018619,356572
339628,339628,24995,2011,77208,SEATTLE,WA,FORD,F-1504WD,34695,Truck,7,0.045765,356572
346698,346698,19918,2014,28546,SEATTLE,WA,BMW,3,45000,Sedan,4,0.184342,356572
347661,347661,15975,2014,49411,SEATTLE,WA,BMW,3,45000,Sedan,4,0.228107,356572
354532,354532,3269,2006,203734,SEATTLE,WA,VOLKSWAGEN,JETTA,24500,Sedan,12,0.154519,356572
354965,354965,19899,2011,75001,SEATTLE,WA,GMC,SIERRA,35900,Truck,7,0.080840,356572

In [81]:
population['City'] = population['City'].str.strip()
population['State'] = population['State'].str.strip()
car['City'] = car['City'].str.strip()
car['State'] = car['State'].str.strip()

In [69]:
car = car.reset_index(drop=True)
population = population.reset_index(drop=True)

,Unnamed: 0,Price,Year,Mileage,City,State,Make,Model,Original Price,Vehicle Type,serviceTime,DepreciationRate,Gdp
0,6,14998,2014,39271,LEXINGTON,KY,CHEVROLET,EQUINOXFWD,31000,SUV,4,0.165996,6455
1,14,26999,2015,32100,ORLANDO,FL,GMC,SIERRA,35900,Truck,3,0.090608,132448
2,36,16995,2015,30765,BETHLEHEM,PA,CHEVROLET,EQUINOXFWD,31000,SUV,3,0.181561,43821
3,69,33000,2014,31185,VERSAILLES,KY,FORD,F-1504WD,34695,Truck,4,0.012444,0
4,86,21900,2012,79588,MISSOURI VALLEY,IA,CHEVROLET,SILVERADO,38200,Truck,6,0.088556,0
5,101,24995,2014,123831,HOUSTON,TX,GMC,SIERRA,35900,Truck,4,0.086540,490074
6,102,11695,2011,83405,LAUDERDALE LAKES,FL,HONDA,ACCORD,27470,Sedan,7,0.114843,0
7,105,15637,2015,57043,SAN ANTONIO,TX,HYUNDAI,SANTA,29800,SUV,3,0.193423,129298
8,157,19995,2006,150409,MANSFIELD,TX,FORD,SUPER,33150,Truck,12,0.041255,4470
9,166,12991,2014,43350,SAN ANTONIO,TX,VOLKSWAGEN,JETTA,24500,Sedan,4,0.146666,129298
10,175,15634,2013,146327,SEYMOUR,IN,CHEVROLET,SILVERADO,38200,Truck,5,0.163624,0
11,181,28999,2016,23151,MORROW,GA,CHEVROLET,SILVERADO,38200,Truck,2,0.128716,0
12,213,21200,2015,11819,ELIZABETH CITY,NC,HONDA,ACCORD,27470,Sedan,3,0.082740,0
13,215,28998,2013,4090,HOUSTON,TX,GMC,SIERRA,35900,Truck,5,0.041803,490074
14,219,22390,2013,32453,NORTH MIAMI BEACH,FL,JEEP,GRAND,31695,SUV,5,0.067148,0
15,229,30555,2015,28277,GLENDALE HEIGHTS,IL,JEEP,GRAND,31695,SUV,3,0.012136,0
16,241,23997,2012,83432,NORWOOD,MA,CHEVROLET,SILVERADO,38200,Truck,6,0.074559,0
17,243,24044,2010,29582,CLOVIS,NM,CHEVROLET,SILVERADO,38200,Truck,8,0.056226,0
18,252,11990,2015,15623,ORLANDO,FL,VOLKSWAGEN,JETTA,24500,Sedan,3,0.211955,132448
19,261,6566,2005,129050,WAUWATOSA,WI,JEEP,GRAND,31695,SUV,13,0.114052,0
20,264,18980,2015,52875,CARY,NC,HYUNDAI,SANTA,29800,SUV,3,0.139614,0
21,268,28990,2013,53269,ARANSAS PASS,TX,CHEVROLET,SILVERADO,38200,Truck,5,0.053682,0
22,279,27495,2014,13261,WILMINGTON,DE,GMC,SIERRA,35900,Truck,4,0.064509,444975
23,280,32773,2014,49406,HOUSTON,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.037583,490074
24,295,19900,2016,14677,LAFAYETTE,LA,CHEVROLET,EQUINOXFWD,31000,SUV,2,0.198791,22113
25,300,19932,2012,28519,DANVERS,MA,JEEP,GRAND,31695,SUV,6,0.074393,0
26,301,26947,2014,47455,LATHAM,NY,JEEP,GRAND,31695,SUV,4,0.039760,0
27,321,6999,2006,189000,DALLAS,TX,FORD,F-1504WD,34695,Truck,12,0.124887,535499
28,349,29500,2015,28975,CINCINNATI,OH,CHEVROLET,SILVERADO,38200,Truck,3,0.082542,138033
29,352,14890,2016,44314,EAST WINDSOR,NJ,NISSAN,ALTIMA2.5,31780,Sedan,2,0.315505,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42315,364666,28000,2014,58552,SPOKANE,WA,FORD,F-1504WD,34695,Truck,4,0.052187,25497
42316,364668,29000,2017,6464,CHARLESTON,SC,JEEP,GRAND,31695,SUV,1,0.085029,12817
42317,364672,33499,2014,39428,MIAMI LAKES,FL,GMC,SIERRA,35900,Truck,4,0.017157,0
42318,364673,17797,2014,18453,KISSIMMEE,FL,NISSAN,ALTIMA2.5,31780,Sedan,4,0.134936,132448
42319,364676,27497,2014,39239,DALLAS,TX,JEEP,GRAND,31695,SUV,4,0.034897,535499
42320,364680,13950,2015,95099,HOUSTON,TX,NISSAN,ALTIMA2.5,31780,Sedan,3,0.240012,490074
42321,364686,11998,2010,76491,CONCORD,CA,HONDA,ACCORD,27470,Sedan,8,0.098364,174029
42322,364706,9995,2013,74948,CONCORD,NC,VOLKSWAGEN,JETTA,24500,Sedan,5,0.164160,174029
42323,364712,17995,2015,17632,JEFFERSON CITY,TN,NISSAN,ALTIMA2.5,31780,Sedan,3,0.172694,7289
42324,364713,14998,2014,62930,CARY,NC,CHEVROLET,EQUINOXFWD,31000,SUV,4,0.165996,0
42325,364718,34000,2008,83054,CULLMAN,AL,CHEVROLET,SILVERADO,38200,Truck,10,0.011580,0
42326,364721,23920,2011,117381,SAN ANTONIO,TX,JEEP,WRANGLER,28045,SUV,7,0.022472,129298
42327,364740,19990,2006,134404,LEXINGTON,SC,CHEVROLET,SILVERADO,38200,Truck,12,0.052537,6455
42328,364759,24500,2012,92521,MIDDLESBORO,KY,FORD,F-1504WD,34695,Truck,6,0.056338,0
42329,364765,19800,2017,5628,PASCAGOULA,MS,NISSAN,ALTIMA2.5,31780,Sedan,1,0.376967,17429
42330,364767,14819,2011,111027,GRAPEVINE,TX,CHEVROLET,SILVERADO,38200,Truck,7,0.126524,0
42331,364780,16985,2013,56756,CONWAY,AR,HONDA,ACCORD,27470,Sedan,5,0.091675,38874
42332,364782,33576,2014,23218,OCALA,FL,CHEVROLET,SILVERADO,38200,Truck,4,0.031741,8653
42333,364784,10000,2010,83563,DELAWARE,OH,HONDA,ACCORD,27470,Sedan,8,0.118662,0
42334,364814,13988,2006,149548,EL DORADO,CA,GMC,SIERRA,35900,Truck,12,0.075539,0
42335,364823,19295,2013,49268,TEMPLE,TX,BMW,3,45000,Sedan,5,0.155798,17556
42336,364836,21677,2015,67800,LANDOVER,MD,JEEP,GRAND,31695,SUV,3,0.118945,0
42337,364838,29991,2012,75504,KIRKLAND,WA,GMC,SIERRA,35900,Truck,6,0.029529,0
42338,364845,23988,2014,60676,BURKBURNET,TX,CHEVROLET,SILVERADO,38200,Truck,4,0.109810,0
42339,364846,27989,2016,41059,LOGAN,UT,JEEP,GRAND,31695,SUV,2,0.060280,5141
42340,364847,13795,2012,103233,HENRICO,VA,HYUNDAI,SANTA,29800,SUV,6,0.120469,0
42341,364851,22988,2017,30150,LEESBURG,VA,HYUNDAI,SANTA,29800,SUV,1,0.228591,0
42342,364862,28488,2014,51377,HERMITAGE,PA,GMC,SIERRA,35900,Truck,4,0.056174,0
42343,364865,22500,2014,35769,WESTMONT,IL,JEEP,GRAND,31695,SUV,4,0.082095,0
42344,364873,29417,2014,31450,MINNETONKA,MN,BMW,3,45000,Sedan,4,0.100820,0

In [103]:
finalData = pd.merge(population, car,on=['City','State'])#.drop('NAME', axis = 1)
finalData = finalData.drop('Original Price', axis=1).drop('Price', axis=1).drop('Make', axis=1).drop('Model', axis=1)
finalData = finalData.dropna()
inalData = finalData.drop_duplicates()
finalData = finalData[finalData['Gdp']>0]

,City,Population,State,Unnamed: 0,Year,Mileage,Vehicle Type,serviceTime,DepreciationRate,Gdp
4,ANNISTON,21770,AL,8474,2011,115176,Sedan,7,0.125887,3937
5,ANNISTON,21770,AL,18662,2015,30246,Truck,3,0.029667,3937
6,ANNISTON,21770,AL,33309,2017,20031,SUV,1,0.067742,3937
7,ANNISTON,21770,AL,165755,2013,53298,SUV,5,0.128240,3937
8,ANNISTON,21770,AL,182033,2014,46647,SUV,4,0.083887,3937
9,ANNISTON,21770,AL,183799,2015,63288,Truck,3,0.058845,3937
10,ANNISTON,21770,AL,200086,2013,61482,SUV,5,0.118688,3937
11,ANNISTON,21770,AL,213115,2010,69222,SUV,8,0.005197,3937
12,ANNISTON,21770,AL,216223,2015,43376,Sedan,3,0.204638,3937
13,ANNISTON,21770,AL,223229,2014,59799,Truck,4,0.046441,3937
14,ANNISTON,21770,AL,225316,2016,48872,Truck,2,0.100611,3937
15,ANNISTON,21770,AL,264365,2013,56515,Truck,5,0.074119,3937
16,ANNISTON,21770,AL,268701,2014,22425,Truck,4,0.083944,3937
17,ANNISTON,21770,AL,293599,2008,115540,Truck,10,0.080466,3937
18,ANNISTON,21770,AL,300167,2016,17846,SUV,2,0.178907,3937
19,ANNISTON,21770,AL,306048,2003,218362,Truck,15,0.107007,3937
20,ANNISTON,21770,AL,307797,2013,149677,Truck,5,0.097435,3937
21,ANNISTON,21770,AL,311130,2015,13605,SUV,3,0.136218,3937
22,ANNISTON,21770,AL,317036,2014,38689,Sedan,4,0.098867,3937
23,ANNISTON,21770,AL,353003,2016,28423,SUV,2,0.187795,3937
24,ATHENS,25616,AL,11404,2017,11015,SUV,1,0.053794,9947
25,ATHENS,25616,AL,34887,2014,59643,SUV,4,0.067262,9947
26,ATHENS,25616,AL,35797,2013,120299,Truck,5,0.183863,9947
27,ATHENS,25616,AL,92456,2011,150369,Truck,7,0.075861,9947
28,ATHENS,25616,AL,96151,2014,97238,Truck,4,0.050880,9947
29,ATHENS,25616,AL,171275,2015,84451,Truck,3,0.028834,9947
30,ATHENS,25616,AL,184228,2014,31651,SUV,4,0.013729,9947
31,ATHENS,25616,AL,260935,2014,27392,Truck,4,0.058700,9947
32,ATHENS,25616,AL,292953,2015,15167,SUV,3,0.057065,9947
33,ATHENS,25616,AL,293945,2016,10131,SUV,2,0.176945,9947
...,...,...,...,...,...,...,...,...,...,...
42398,WAUSAU,2236,WI,362016,2009,114802,Truck,9,0.071742,8209
42406,WEST ALLIS,59934,WI,5317,2014,57374,SUV,4,0.137581,105426
42407,WEST ALLIS,59934,WI,30905,2008,77526,Sedan,10,0.100450,105426
42408,WEST ALLIS,59934,WI,44996,2009,95749,Sedan,9,0.111336,105426
42409,WEST ALLIS,59934,WI,46734,2016,40223,Sedan,2,0.338651,105426
42410,WEST ALLIS,59934,WI,63988,2009,63066,Sedan,9,0.105316,105426
42411,WEST ALLIS,59934,WI,76940,2014,33314,SUV,4,0.118599,105426
42412,WEST ALLIS,59934,WI,98383,2015,35178,SUV,3,0.096276,105426
42413,WEST ALLIS,59934,WI,142442,2002,166780,Truck,16,0.109297,105426
42414,WEST ALLIS,59934,WI,167281,2004,147609,Sedan,14,0.128578,105426
42415,WEST ALLIS,59934,WI,187056,2014,26838,Truck,4,0.028409,105426
42416,WEST ALLIS,59934,WI,195261,2015,12570,Sedan,3,0.204555,105426
42417,WEST ALLIS,59934,WI,197217,2014,32756,SUV,4,0.100769,105426
42418,WEST ALLIS,59934,WI,206027,2011,51842,SUV,7,0.109396,105426
42419,WEST ALLIS,59934,WI,252711,2016,40143,Sedan,2,0.336395,105426
42420,WEST ALLIS,59934,WI,269585,2014,44024,Truck,4,0.035737,105426
42421,WEST ALLIS,59934,WI,274287,2016,38080,Sedan,2,0.345346,105426
42422,WEST ALLIS,59934,WI,309351,2016,36289,Sedan,2,0.361283,105426
42423,WEST ALLIS,59934,WI,313202,2016,40705,Sedan,2,0.330306,105426
42454,GREENVILLE,12091,WI,149776,2007,102981,Sedan,11,0.096794,8216
42455,GREENVILLE,12091,WI,164795,2015,47994,Sedan,3,0.132620,8216
42456,GREENVILLE,12091,WI,166060,2010,140004,Truck,8,0.076462,8216
42457,GREENVILLE,12091,WI,204457,2012,53076,Sedan,6,0.124953,8216
42458,GREENVILLE,12091,WI,334242,2016,39231,Sedan,2,0.271597,8216
42459,CASPER,57814,WY,27853,2009,97809,SUV,9,0.119288,6293
42460,CASPER,57814,WY,264902,2008,113407,Truck,10,0.031803,6293
42461,CHEYENNE,63624,WY,68632,2015,44755,SUV,3,0.165952,5754
42462,CHEYENNE,63624,WY,136784,2013,33611,Truck,5,0.041219,5754
42463,CHEYENNE,63624,WY,143266,2013,35985,Truck,5,0.054690,5754
42464,CHEYENNE,63624,WY,348542,2008,75523,Truck,10,0.043552,5754

In [107]:
finalData['Counts'] = finalData.groupby(['City'])['DepreciationRate'].transform('count')
finalData = finalData.sort_values('Counts',ascending=False)
finalData

,City,Population,State,Unnamed: 0,Year,Mileage,Vehicle Type,serviceTime,DepreciationRate,Gdp,Counts
35346,HOUSTON,23021,TX,150989,2015,33998,SUV,3,0.081837,490074,1258
35222,HOUSTON,23021,TX,78066,2014,39830,Sedan,4,0.232549,490074,1258
35231,HOUSTON,23021,TX,83420,2011,89702,SUV,7,0.119593,490074,1258
35230,HOUSTON,23021,TX,83061,2016,20250,Truck,2,0.035988,490074,1258
35229,HOUSTON,23021,TX,82330,2015,15223,Sedan,3,0.205302,490074,1258
35228,HOUSTON,23021,TX,80828,2010,104267,Truck,8,0.090086,490074,1258
35227,HOUSTON,23021,TX,80267,2016,45589,SUV,2,0.196219,490074,1258
35226,HOUSTON,23021,TX,79600,2013,82774,Truck,5,0.067081,490074,1258
35225,HOUSTON,23021,TX,79333,2014,63938,Truck,4,0.033926,490074,1258
35224,HOUSTON,23021,TX,78296,2016,17157,SUV,2,0.187040,490074,1258
35223,HOUSTON,23021,TX,78240,2010,58797,Sedan,8,0.117810,490074,1258
35221,HOUSTON,23021,TX,76646,2014,32623,Sedan,4,0.101540,490074,1258
35256,HOUSTON,23021,TX,101971,2016,35638,Sedan,2,0.271989,490074,1258
35220,HOUSTON,23021,TX,76490,2011,132437,SUV,7,0.143304,490074,1258
35219,HOUSTON,23021,TX,76277,2015,27258,Truck,3,0.087849,490074,1258
35218,HOUSTON,23021,TX,76055,2014,70524,Truck,4,0.039682,490074,1258
35217,HOUSTON,23021,TX,75606,2015,36175,Truck,3,0.015248,490074,1258
35216,HOUSTON,23021,TX,74996,2007,129546,Sedan,11,0.146862,490074,1258
35215,HOUSTON,23021,TX,74845,2010,55399,Sedan,8,0.120918,490074,1258
35214,HOUSTON,23021,TX,74346,2016,5981,Truck,2,0.072271,490074,1258
35213,HOUSTON,23021,TX,73526,2014,45099,SUV,4,0.032650,490074,1258
35212,HOUSTON,23021,TX,73145,2010,102586,SUV,8,0.054073,490074,1258
35232,HOUSTON,23021,TX,83636,2005,150163,SUV,13,0.132494,490074,1258
35233,HOUSTON,23021,TX,84863,2011,64408,Truck,7,0.094989,490074,1258
35234,HOUSTON,23021,TX,85711,2014,28919,SUV,4,0.112356,490074,1258
35235,HOUSTON,23021,TX,86335,2014,25062,Truck,4,0.172634,490074,1258
35254,HOUSTON,23021,TX,100202,2016,9372,Sedan,2,0.212731,490074,1258
35253,HOUSTON,23021,TX,97993,2014,34226,Truck,4,0.021984,490074,1258
35252,HOUSTON,23021,TX,97924,2013,66087,Truck,5,0.035297,490074,1258
35251,HOUSTON,23021,TX,97393,2015,23052,Sedan,3,0.165585,490074,1258
...,...,...,...,...,...,...,...,...,...,...,...
30409,GASTON,1683,SC,210984,2004,163121,Truck,14,0.091325,174029,2
42459,CASPER,57814,WY,27853,2009,97809,SUV,9,0.119288,6293,2
20155,VIRGINIA,8488,MN,125187,2015,7551,Truck,3,0.120476,94855,2
40474,RICHLAND,56243,WA,116362,2015,3449,Sedan,3,0.215754,13868,2
16333,SALINA,46994,KS,245009,2013,64762,SUV,5,0.136122,24095,2
20293,COLLINS,2481,MS,18234,2014,60450,Truck,4,0.006576,17164,2
17413,TRENTON,1540,ME,189609,2011,57834,Sedan,7,0.111862,29987,2
17027,HAMMOND,20480,LA,711,2015,30518,Truck,3,0.074059,4040,2
16814,OWENSBORO,59404,KY,23909,2006,122678,Truck,12,0.037329,5635,2
16813,OWENSBORO,59404,KY,15358,2012,40341,SUV,6,0.129380,5635,2
30408,GASTON,1683,SC,186612,2014,101850,Truck,4,0.123997,174029,2
15438,SOUTH BEND,102245,IN,335843,2007,66726,Truck,11,0.067260,14224,2
17412,TRENTON,1540,ME,188729,2014,44688,Sedan,4,0.081730,29987,2
17820,HAGERSTOWN,40306,MD,184579,2013,52262,SUV,5,0.117059,10232,2
17028,HAMMOND,20480,LA,322550,2016,10890,Truck,2,0.045540,4040,2
17821,HAGERSTOWN,40306,MD,301429,2015,35580,Truck,3,0.010592,10232,2
41587,LA CROSSE,51834,WI,245841,2014,33136,SUV,4,0.040241,7507,2
41588,LA CROSSE,118274,WI,245841,2014,33136,SUV,4,0.040241,7507,2
15439,SOUTH BEND,102245,IN,358013,2014,40824,Truck,4,0.005940,14224,2
16332,SALINA,46994,KS,43679,2012,79928,SUV,6,0.067868,24095,2
20294,COLLINS,2481,MS,156435,2014,21350,Truck,4,0.027838,17164,2
16628,ELIZABETHTOWN,30023,KY,119745,2004,157963,SUV,14,0.144092,6275,1
30496,MAULDIN,25130,SC,338448,2015,34703,Sedan,3,0.221490,42108,1
13160,CARBONDALE,25899,IL,153201,2015,25234,Truck,3,0.039583,5287,1
26880,BRIDGEPORT,1766,OH,339191,2008,119433,SUV,10,0.102168,98256,1
38647,CHRISTIANSBURG,22259,VA,122240,2014,35660,Sedan,4,0.166980,7217,1
27643,ELYRIA,53883,OH,218570,2013,46025,SUV,5,0.111519,138980,1
29452,BLOOMSBURG,14231,PA,124814,2008,65120,SUV,10,0.095699,4049,1
31718,SPARTA,4939,TN,88272,2015,20220,SUV,3,0.139312,15990,1
39756,ANACORTES,16953,WA,229873,2013,52738,Truck,5,0.053650,6643,1

In [109]:
finalData = finalData.reset_index(drop = True)
finalData.to_csv('finalData.csv',encoding='utf-8')